﻿@model Promotion

@{ 
    var desc = Model.ShortDescription;
    var maxLength = 250;
    var shortDesc = desc.Length <= maxLength ? desc : desc.Substring(0, maxLength) + "...";
}

<div class="ProductCard" data-js="card">
  <div class="ProductCard-front">
    <header class="ProductCard-header">
      <a href="@Model.ProductUrl" target="_blank">
        <h5 class="ProductCard-title">@Model.Name</h5>
      </a>
    </header>
    <figure class="ProductCard-body ProductCard-body--image">
      <a href="@Model.ProductUrl" target="_blank">
        <img src="@Model.ProductImageUrl" alt="@Model.Name">
      </a>
    </figure>
    <footer class="ProductCard-footer" data-js="card-trigger">
      <p class="ProductCard-price">Promo Price: @Html.Raw(Model.PromoPrice)</p>
    </footer>
  </div>
  <div class="ProductCard-back">
    <div class="ProductCard-body u-p1">
      <p class="ProductCard-description">@shortDesc</p>
      <p><strong>Quantity:</strong> @Model.PackSize</p>
    </div>
    <footer class="ProductCard-footer" data-js="card-trigger">
      <p class="ProductCard-price">Promo Price: @Html.Raw(Model.PromoPrice)</p>
    </footer>
  </div>
</div>