@keyframes slideUpOut {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  
  100% {
    transform: translateY(-100%);
    opacity: 1;
  }
}

@keyframes slideUpIn {
  0% {
    transform: translateY(-100%);
    opacity: 1;
  }
  
  100% {
    transform: translateY(0);
    opacity: 0;
  }
}