.Button {
  position: relative;
  z-index: 0;
  overflow: hidden;
  display: inline-block;
  color: $brand-white;
  padding: .375rem 1rem;
  line-height: 1.25;
  border: 2px solid $campaign-summer-accent;
  background-color: $campaign-summer-tertiary;
  // text-transform: uppercase;
  font-family: $ff-script;
  font-size: 1.75rem;

  &::before,
  &::after {
    content: "";
    z-index: -1;
    @include position(absolute, 0);
    opacity: 0;
    background-image: linear-gradient($campaign-summer-secondary 50%, transparent 50%);
    background-size: 100% 4px;
    transition: .35s all ease;
  }

  &::before {
    transform: translateX(-100%);
  }

  &::after {
    background-position-y: 2px;
    transform: translateX(100%);
  }

  &:hover {
    &::before,
    &::after {
      opacity: 1;
      transform: translate(0);
    }
  }

  &--secondary {
    background-color: $campaign-summer-secondary;
    font-family: $ff-body;
    font-weight: $fw-bold;
    font-size: 1rem;
    text-transform: uppercase;

    &::before,
    &::after {
      background-image: linear-gradient(90deg, $campaign-summer-tertiary 50%, transparent 50%);
      background-size: 4px 100%;
    }
    
    &::before {
      transform: translateY(-100%);
    }
  
    &::after {
      background-position: 2px 0;
      transform: translateY(100%);
    }
  }
}