.CookieTable {
  width: 100%;
  box-shadow: 0 3px 12px rgba(0, 0, 0, .15);

  @include breakpoint($mobile-all) {
    border: 1px solid $campaign-summer-accent;

    &[data-heading]::before {
      content: attr(data-heading);
      display: table-caption;
      padding: .5rem;
      background-color: $campaign-summer-accent;
      font-weight: 700;
      text-shadow: 0 1px 3px rgba(0, 0, 0, .3);
    }
  }

  &-row {
    @include breakpoint($mobile-all) {      
      & + & {
        border-top: 1px solid $campaign-summer-accent;
      }
    }
  }

  &-heading,
  &-cell {
    padding: .5rem;
    border: 1px solid $campaign-summer-accent;
  }

  &-heading {
    background-color: $campaign-summer-primary;
  }
  
  &-cell {
    background-color: $campaign-summer-primary-dark;
  }
}