.CurrentMember {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include breakpoint($desktop) {
    justify-content: flex-end;
  }

  &-switch {
    @include size(1rem);
    padding: 0;
    margin-left: 1rem;

    &::before {
      content: "";
      position: relative;
      top: -.125rem;
      display: block;
      @include size(.6125rem);
      border-right: 1px solid $brand-white;
      border-bottom: 1px solid $brand-white;
      transform: rotate(45deg);
    }
  }
}