.Footer {
  padding: 1rem;
  background-color: $brand-black;

  @include breakpoint($desktop) {
    font-size: .75rem;
  }

  &-link {
    border-bottom: 1px solid;

    &:hover {
      color: $campaign-summer-secondary;
    }
  }
}