.Header {
  display: grid;
  position: relative;
  padding-bottom: 1rem;
  color: $brand-white;
  grid-template:
    "banner banner2 banner3" auto
    "memberName memberName memberName" auto
    "memberNo memberNo memberNo" auto
    "logo logo logo" auto
    / 1fr 1fr 1fr;

  @include breakpoint($desktop) {
    grid-template:
      "banner logo logo memberName" auto 
      "memberNo memberNo memberNav memberNav" auto
      / 1fr 1fr 1fr 1fr;
    grid-gap: 1.25rem;
    align-items: flex-start;
    padding: 1rem 1rem 2rem;
  }

  @include ie {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: auto 1rem auto;
  }

  &::after {
    content: "";
    grid-area: memberName / memberName / memberNo / memberNo;
    height: 100%;
    z-index: -1;
    background-color: $campaign-summer-tertiary;
    box-shadow: 0 2px 7px rgba(0, 0, 0, 0.15);

    @include breakpoint($desktop) {
      grid-area: memberNo / memberNo / memberNav / memberNav;
    }

    @include ie {
      display: block;
      -ms-grid-column-span: 4;
      -ms-grid-row: 3;
    }
  }

  &-banner {
    position: relative;
    z-index: z("banner");
    
    .is-loggedIn & {
      grid-column-start: c;
      grid-column-end: e;

      @include breakpoint($desktop) {
        grid-area: banner;
      }
    }
  }

  &-banner,
  &-brand {
    @include breakpoint($touch) {
      padding: 1rem;
      background-color: $brand-black;
    }
  }

  &-brandLogo {
    height: 100%;
    max-height: 2rem;
  }

  &-member {
    padding: .2rem 1rem;

    @include breakpoint($desktop) {
      padding: .5rem 1rem;
      line-height: 1.25;
    }

    &--name {
      grid-area: memberName;

      @include breakpoint($desktop) {
        padding: 0;
      }

      @include breakpoint($touch) {
        padding-top: .4rem;
      }

      @include ie {
        -ms-grid-row-align: start;
        -ms-grid-column: 4;
      }
    }

    &--no {
      grid-area: memberNo;

      @include breakpoint($touch) {
        padding-bottom: .4rem;
      }

      @include ie {
        display: block;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
      }
    }

    &--links {
      grid-area: memberName;

      @include breakpoint($desktop) {
        grid-area: memberNav;
      }

      @include ie {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        -ms-grid-row: 3;
      }
    }
  }

  &-logo {
    grid-area: logo;
    margin-bottom: 1rem;
    text-align: center;

    @include breakpoint($touch) {
      margin-top: 1.5rem;
    }

    @include ie {
      -ms-grid-column: 2;
      -ms-grid-column-span: 2;
    }
  }

  &-campaignLogo {
    @include breakpoint($touch) {
      padding: 0 1.5rem;
    }
  }

  &-brand {
    &--nectar {
      grid-area: banner2;
      
      @include breakpoint($desktop) {
        grid-area: logo;
        align-self: center;
      }

      @include ie {
        -ms-grid-column: 2;
        -ms-grid-column-span: 2;
      }
    }

    &--woodward {
      grid-area: banner3;

      @include breakpoint($desktop) {
        grid-area: memberName;
      }

      @include ie {
        -ms-grid-column: 4;
        -ms-grid-column-span: 1;
      }
    }
  }
  
}