.Ingredients {
  border: 1rem solid transparent;
  border-top: 0;
  background-color: $brand-black;
  color: white;

  &-title {
    padding: 1rem;
    padding-bottom: 0;
    background-color: $brand-black;
    text-align: left;
  }

  &-heading {
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    vertical-align: top;

    &:last-child {
      text-align: right;
    }
  }

  &-cell {
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
    font-size: .75rem;

    @include breakpoint($mobile-all) {
      padding: 0;
    }

    &:last-child {
      @include breakpoint($mobile-all) {
        padding-bottom: 0.5rem;
      }

      @include breakpoint($desktop) {
        text-align: right;
      }
    }
  }
}