.Intro {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 2rem;
  max-width: $introMaxWidth !important;
  margin-bottom: 2rem;
  
  @include breakpoint($tablet) {
    grid-template: "graphic content" auto / 50% 50%;
    grid-gap: 1rem;    
    align-items: center;
  }

  @include ie {
    display: -ms-grid;
    -ms-grid-columns: 50% 1rem 50%;
    -ms-grid-rows: auto;
  }

  &-graphic {
    @include breakpoint($tablet) {
      grid-area: graphic;
    }
  }

  &-main {
    @include breakpoint($touch) {
      text-align: center;
    }

    @include breakpoint($tablet) {
      grid-area: content;
    }

    @include ie {
      -ms-grid-column: 3;
    }
  }

  &-spend {
    display: inline-block;
    font-weight: $fw-bold;
    text-transform: uppercase;

    @include breakpoint($tablet) {
      margin-left: 0;
    }
  }

  &-full {
    grid-row: 1;
    grid-row-end: 2;

    @include breakpoint($tablet) {
      grid-area: graphic / graphic / content / content;
    }
    
    @include ie {
      -ms-grid-column: 1;
      -ms-grid-column-span: 3;
    }
  }

  &-date {
    font-family: $ff-script;
    font-size: 2rem;
    line-height: 1;
  }

  &-cta {
    font-family: $ff-script;
    font-weight: $fw-base;
  }
}