.MemberLinks {
  display: flex;
  align-items: center;
  
  @include breakpoint($touch) {
    justify-content: space-around;
    background-color: $brand-white;
    color: $brand-black;
    transform: translateY(-150%);
  }

  @include breakpoint($desktop) {
    justify-content: flex-end;
  }

  &-item {
    @include breakpoint($desktop) {
      border-bottom: 1px solid;
    }

    & + & {
      margin-left: 1rem;

      @include breakpoint($desktop) {
        margin-left: calc( 1rem + 3vw );
      }
    }
  }

  &-btn {
    font-weight: $fw-bold;
    text-transform: uppercase;
  }
}