.Modal {
  @include position(fixed, 50% null null 50%);
  @include size(100%);
  z-index: z("modal");
  overflow: auto;
  padding: 1rem;
  border: 2px solid $campaign-summer-accent;
  background-color: $campaign-summer-bg;
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
  visibility: hidden;
  transition:
    .5s transform $ease-in-out-quart,
    .5s opacity $ease-in-out-quart,
    .5s visibility step-end;


  @include breakpoint($tablet) {
    @include size(auto);
    min-width: 40rem;
    max-height: 80vh;
    max-width: 80vw;
  }

  &.is-open {
    transform: translate(-50%, -50%);
    opacity: 1;
    visibility: visible;
    transition:
      .5s transform $ease-in-out-quart,
      .5s opacity $ease-in-out-quart,
      .5s visibility step-start;
  }

  &-close {
    @include position(absolute, 0 0 null null);
    font-size: 2rem;
  }
}