.NectarGrid {
  display: grid;
  grid-gap: 2rem 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));

  @include ie {
    display: flex;
    flex-wrap: wrap;
  }

  * + & {
    margin-top: 3rem;
  }

  &-item {
    position: relative;
    
    @include ie {
      flex-basis: (100% / 6);
      padding: 0 1rem 1rem;
    }
  }

  &-stamp {
    @include position(absolute, 50% null null 50%);
    max-width: 45%;
    transform: translate(-50%, -50%);
  }
}