.ProductCard {
  position: relative;
  padding-top: 90%;
  perspective: 1200px;
  transform: translateZ(0);

  &-front,
  &-back {
    @include position(absolute, 0);
    display: flex;
    max-height: 100%;
    flex-direction: column;
    backface-visibility: hidden;
    transition: transform .5s $ease-in-out-sine;

    // Backface visibility is broken in IE 11
    // Microsoft have no plans to fix it
    // https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8723369/
    @include ie {
      transition: none;
    }
  }

  &-front {
    .ProductCard.is-flipped > & {
      transform: rotateY(180deg);
    }
  }

  &-back {
    transform: rotateY(180deg);

    .ProductCard.is-flipped > & {
      transform: rotateY(360deg);
    }
  }

  &-header {
    height: 1.5rem;
    border-bottom: 1px solid $brand-grey-light;
    background-color: $brand-white;
    text-align: center;
  }

  &-title {
    overflow: hidden;
    margin: 0 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: $brand-black;
    font-weight: $fw-base;
    font-size: $fs-tiny;
    line-height: 1.5rem;
  }

  &-body {
    flex-grow: 1;
    background-color: $brand-white;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    color: $brand-black;
    font-size: .8125rem;
    overflow: hidden;

    &--image {
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        @include ie {
          animation: fadeIn 0.1s ease;
        }
      }
    }
  }

  &-footer {
    position: relative;
    border: 1px solid $brand-white;
    color: $brand-white;
    text-align: center;

    &::after {
      $iconSize: 1.5rem;

      content: "";
      @include position(absolute, 50% .5rem null null);
      @include size($iconSize);
      background-image: url("/images/icon-flip-arrow.png");
      background-repeat: no-repeat;
      background-position: center;
      background-size: $iconSize;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }

  &-price {
    margin: 0;
    line-height: 2;
  }
}