.Promotions {
  padding: 0 1rem;

  &-content {
    max-width: 40rem;
    margin: auto;
    text-align: center;
  }

  &-icon {
    display: block;
    margin: 0 auto 1.5rem;
  }

  &-title {
    display: inline-block;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
  }

  &-intro {
    font-size: 1.25rem;
  }

  &-call {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-transform: uppercase;
    
    @include breakpoint($tablet) {
      font-size: 2rem;
    }
  }
  
  &-list {
    overflow: hidden;
    margin: 0 -.25rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    @include breakpoint($mobile-portrait) {
      max-width: 20rem;
      margin-left: auto;
      margin-right: auto;
    }
  }

  &-list,
  &-flickity {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    @include breakpoint($mobile-all) {
      padding-right: 2rem;
    }

    @include breakpoint($mobile-landscape) {
      grid-auto-columns: 50%;
    }
    
    @include breakpoint($tablet) {
      grid-auto-columns: 33.3333%;
      padding-right: 2rem;
    }
    
    @include breakpoint($desktop) {
      grid-auto-columns: 25%;
    }

    @include ie {
      display: flex;
      width: 100%;
    }
  }

  &-item {
    padding: 0 .25rem;

    @include ie {
      flex-shrink: 0;
      flex-basis: calc(100% - .5rem);

      @include breakpoint($tablet) {
        flex-basis: calc(25% - .5rem);
      }
    }
  }
}