.Recipe {
  &-body {
    grid-template:
      "media" auto
      "ingredients" auto
      "content" auto
      / 1fr;

    @include breakpoint($tablet) {
      grid-template:
        "media content" auto
        "ingredients content" auto
        / 40% 1fr;
    }

    @include ie {
      -ms-grid-columns: 40% 1fr;
      -ms-grid-rows: 20rem auto;
    }
  }

  &-media {
    @include ie {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
    }
  }

  &-image {
    height: 100%;
  }

  &-content {
    @include ie {
      -ms-grid-column: 2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 2;
    }
  }

  &-ingredients {
    grid-area: ingredients;
    background-color: $brand-black;

    @include ie {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
  }
}