.Rewards {
  padding-bottom: 4rem;

  &-list {
    overflow: hidden;
  }

  &-list,
  &-flickity {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 100%;

    @include ie {
      display: flex;
    }
  }

  &-item {
    @include ie {
      flex: 1 0 100%;
    }
  }

  &-sun {
    @include position(absolute, null null -12rem 50%);
    width: 20rem;
    margin-left: -10rem;
    animation: spin 60s linear infinite;

    &:hover {
      transform: rotate(360deg);
    }

    @include breakpoint($mobile-all) {
      display: none;
    }
  }  
}