.RewardTier {
  display: grid;
  grid-template:
    "target" auto
    "rewards" auto
    "or" auto
    "vouchers" auto
    / 1fr;
  grid-gap: 2rem;
  align-items: center;
  justify-content: center;

  @include breakpoint($tablet) {
    grid-template:
      "target rewards or vouchers" auto 
      / 1fr 1.5fr auto 1fr;
    grid-gap: 1rem;

    @include ie {
      display: flex;

      > * + * {
        flex-grow: 1;
        margin-left: 2rem;
      }
    }
  }
  
  &-target {
    grid-area: target;
    margin: auto;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-transform: uppercase;
    line-height: 1.2;

    @include ie() {
      margin: 0;
      max-width: 20rem;
    }
  }
  
  &-targetLabel {
    margin: 0;
    font-weight: $fw-bold;
    font-size: 1.66rem;
    font-style: italic;
  }

  &-targetAmount {
    position: relative;
    top: -.5rem;
    margin: 0;
    font-size: 4rem;
    font-weight: $fw-bold;
    line-height: $lh-head;
    color: $campaign-summer-accent;
  }

  &-rewards {
    grid-area: rewards;
  }

  &-or {
    grid-area: or;
    text-align: center;
    text-transform: uppercase;
  }

  &-vouchers {
    grid-area: vouchers;
  }
}