.Tooltip {
  @include position(absolute, 100% null null 50%);
  padding: .125em .5em;
  border: 1px solid $brand-white;
  visibility: hidden;
  opacity: 0;
  background-color: rgba($campaign-summer-primary-dark, .6);
  font-size: 1rem;
  font-weight: $fw-bold;
  transform: translate3d(-50%, 1rem, 0);
  white-space: pre;
  pointer-events: none;
  transition:
    .35s opacity ease,
    .35s transform ease,
    .35s visibility step-end;

  @supports (clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%)) {
    border: none;

    &::before {
      content: "";
      @include position(absolute, 100% null null 50%);
      @include size(8px);
      border: 1px solid $brand-white;
      border-width: 0 1px 1px 0;
      background-color: rgba($campaign-summer-primary-dark, .6);
      clip-path: polygon(0 100%, 100% 0, 100% 100%);
      transform: translate(-50%, -4px) rotate(45deg);
    }

    &::after {
      content: "";
      @include position(absolute, 0);
      border: 1px solid $brand-white;
      clip-path:
      polygon(
        0 0,
        100% 0,
        100% 200%,
        50% 200%,
        50% 100%,
        calc(50% + 5px) 100%,
        calc(50% + 5px) calc(100% - 2px),
        calc(50% - 5px) calc(100% - 2px), 
        calc(50% - 5px) 100%,
        50% 100%,
        50% 200%,
        0 200%
      );
    }
  }

  @include breakpoint($desktop) {
    font-size: .75rem;

    @supports (clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0 100%)) {
      &::before {
        content: "";
        @include position(absolute, auto null 100% 50%);
        border-width: 1px 0 0 1px;
        clip-path: polygon(0 100%, 0 0, 100% 0);
        transform: translate(-50%, 4px) rotate(45deg);
      }

      &::after {
        clip-path:
        polygon(
          0% -100%,
          50% -100%,
          50% 0,
          calc(50% - 5px) 0,
          calc(50% - 5px) 1px,
          calc(50% + 5px) 1px, 
          calc(50% + 5px) 0,
          50% 0,
          50% -100%,
          100% -100%,
          100% 100%, 
          0% 100%
        );
      }
    }
  }
  
  &-wrapper {
    position: relative;
  }

  &.is-visible {
    opacity: 1;
    z-index: z("tooltip");
    visibility: visible;
    transform: translate3d(-50%, 0, 0);
    transition:
      .35s opacity ease,
      .35s transform ease,
      .35s visibility step-start;
  }
}