.Watermelon {
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  margin: auto;
  
  @include ie {
    display: -ms-grid;
    -ms-grid-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-column-align: center;
    -ms-grid-row-align: center;
  }
  
  &-slice {
    margin: 3px;
    transition: transform .3s $ease-in-out-cubic;

    @include ie {
      &:nth-child(2), &:nth-child(4) { -ms-grid-column: 2; } 

      &:nth-child(3), &:nth-child(4) { -ms-grid-row: 2; }
    }

    &:hover {
      transform: translate(-10%, -10%);
      transition: transform .3s $ease-in-out-cubic;

      &:nth-child(2) {
        transform: translate(10%, -10%);
      }

      &:nth-child(3) {
        transform: translate(-10%, 10%);
      }

      &:nth-child(4) {
        transform: translate(10%, 10%);
      }
    }
    
  }
}