.u-back {
  &::before {
    content: "";
    position: relative;
    top: -2px;
    margin-right: .3em;
    @include arrow($direction: "left");
  }
}

.u-go {
  &::after {
    content: "";
    position: relative;
    top: -2px;
    margin-left: .3em;
    margin-right: .2em;
    @include arrow(10px, 3px, "right");
  }
}
