.u-bg-main {
  background-color: $brand-white;
}

.u-bg-darker {
  background-color: rgba($brand-black, 0.5);
}

.u-bg-splash {
  background-color: $campaign-summer-secondary;
}

.u-bg-full {
  position: relative;

  &::before {
    $left: "calc( (100vw - " + $maxScrollbarSize + " - 100%) / -2)";

    content: "";
    z-index: -1;
    @include position(absolute, 0 null 0 unquote($left));
    width: calc( 100vw - #{$maxScrollbarSize} );
    background: currentColor;
    box-shadow: $maxScrollbarSize*2 0 0 currentColor, $maxScrollbarSize*-2 0 0 currentColor;
  }
}
