.u-list-ui,
.u-list-inline {
  list-style: none !important;
  padding-left: 0;
  margin-left: 0;
}

.u-list-inline {
  display: flex;
  flex-wrap: wrap;
}

.u-list-vc {
  align-items: center;
}

.u-list-hc {
  justify-content: center;
}
