.u-rel {
  position: relative;
}

.u-full {
  @include position(absolute, 0);
}

.u-center {
  @include position(absolute, 50% null null 50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
}

.u-bg-cover {
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
}

.u-object-cover {
  @include size(100%);
  object-fit: cover;
  object-position: center;
}

.u-behind {
  z-index: -1;
}

.u-crop {
  overflow: hidden;
}

.u-w100 {
  width: 100%;
}

.u-h100 {
  height: 100%;
}

.u-wrapper {
  width: 100%;
  max-width: $contentMaxWidth;
  margin-left: auto !important;
  margin-right: auto !important;
}

.u-padwrapper {
  @extend .u-wrapper;
  padding-left: 1rem;
  padding-right: 1rem; 
}