.u-text-heading {
  font-family: $ff-head;
  font-weight: 700;
  text-transform: uppercase;
}

.u-text-anchor {
  color: $campaign-summer-accent;
  font-weight: $fw-bold;
  transition: .4s color $ease-in-out-cubic;

  &:hover {
    border-bottom: 1px solid;
  }
}