.u-text {
  &-dark {
    color: $brand-text !important;
  }

  &-light {
    color: $brand-white !important;
  }

  &-brand {
    color: $brand-primary;
  }
  
  &-accent {
    color: $campaign-summer-accent;
  }

  &-black {
    color: $brand-black;
  }
}