.u-h1 {
  font-size: $fs-h1;
}

.u-h2 {
  font-size: $fs-h2;
}

.u-h3 {
  font-size: $fs-h3;
}

.u-h4 {
  font-size: $fs-h4;
}

.u-h5 {
  font-size: $fs-h5;
}

.u-h6 {
  font-size: $fs-h6;
}

.u-ts-small {
  font-size: $fs-small;
}

.u-ts-smaller {
  font-size: .8em;
}

.u-large {
  font-size: $fs-large;
}

.u-ts-larger {
  font-size: 1.2em;
}

.u-upper {
  text-transform: uppercase;
}
