.u-touch-hover {
  @include position(absolute, 0);
  z-index: 1;
  visibility: visible;
  transition: visibility .05s step-start;

  :hover > & {
    visibility: hidden;
    transition: visibility .05s step-end;
  }
}
