a {
  text-decoration: none;
  color: inherit;
  transition: .4s color $ease-in-out-cubic;

  &:not([class]) {
    p > &, 
    li > &,
    cite > &,
    figcaption > &,
    span > & {
      color: $campaign-summer-accent;
      font-weight: $fw-bold;
  
      &:hover {
        border-bottom: 1px solid;
      }
    }
  }
}
