:root {
  font-size: $fs-mobile;

  @include breakpoint($tablet) {
    font-size: $fs-tablet;
  }

  @include breakpoint($desktop) {
    font-size: $fs-base;
  }
}

html {
  height: 100%;
}

html,
body {
  min-height: 100%;
}

body {
  color: $brand-text;
  font-family: $ff-head;
  font-weight: $fw-base;
  line-height: $lh-base;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
}
