button,
input,
textarea,
select {
  font-family: inherit;
  color: inherit;
}

button,
[type="submit"] {
  cursor: pointer;
  border: 0;
  background: none;

  &:focus {
    outline: 0;
  }
}

textarea {
  vertical-align: top;
}

input,
textarea,
select {
  color: $brand-black;
}