figure {
  margin: 0;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

picture {
  display: block;
}

svg {
  vertical-align: middle;
  fill: currentColor;
  stroke: currentColor;
}

iframe {
  max-width: 100%;
}
