h1,h2,h3,h4,h5,h6 {
  font-family: $ff-head;
  font-weight: $fw-head;
  line-height: $lh-head;
  margin-top: 0;
  margin-bottom: .75rem;
  color: inherit;
}

h1 {
  @include font-size-ms(5);

  p + & {
    margin-top: 1.25rem;
  }
}

h2 {
  @include font-size-ms(4);

  p + & {
    margin-top: 1.25rem;
  }
}

h3 {
  @include font-size-ms(3);

  p + & {
    margin-top: 1.25rem;
  }
}

h4 {
  @include font-size-ms(2);
}

h5 {
  @include font-size-ms(1);
}

h6 {
  font-size: $fs-small;
}

p {
  margin-top: 0;
  margin-bottom: .75rem;
}

strong {
  font-weight: $fw-bold;
}

address {
  font-style: normal;
}

blockquote {
  margin: 1em 0 2em;
  padding: 1em 2em 1em 1em;
  font-style: italic;
  line-height: 1.5;
  font-size: 1.05em;
}

hr {
  margin: 1.5rem 0;
  border: 2px solid $brand-white;
}