$gutter-mobile: 1.5em;
$gutter-tablet: 2em;
$gutter-desktop: 4em;

$ag: (
  max-width: none,
  columns: 12,
  gutters: $gutter-mobile,
  include-alignment: true,
  reduce-fractions: true,
  responsive: (
    "*": (
      breakpoint: null,
      columns: (3, 4, 6, 8, 9, 12)
    ),
    tablet: (
      breakpoint: $tablet,
      columns: (3, 4, 5, 6, 7, 8, 9, 12),
      gutters: $gutter-tablet
    ),
    desktop: (
      breakpoint: $desktop,
      columns: "*",
      gutters: $gutter-desktop
    )
  ),
  ie-support: true
);

$ag-5: (
  desktop: (
    breakpoint: $desktop,
    columns: (1, 4),
    gutters: $gutter-desktop
  ),
  desktopHD: (
    breakpoint: $desktop-hd,
    columns: (1, 4),
    gutters: $gutter-desktop
  )
);
