// This is where you can place any variables for known exact measurements
// found across the website
//
// e.g. $headerSize: 44px;
//
// By declaring these values as variables, we avoid the confusion of magic
// numbers, and reduce liklihood of introducing regression issues.
//

$maxScrollbarSize: 20px;
$contentMaxWidth: 1280px;
$introMaxWidth: 48rem;