// Brand Colours
$brand-primary: #157BCE;
$brand-primary-light: #30A7E2;
$brand-primary-dark: #0B5287;

$brand-bg: #F0F0F0;
$brand-bg-alt: #ECF0F4;
$brand-white: #FFF;
$brand-grey-light: #EAEAEA;
$brand-grey-dark: #525F67;
$brand-grey-mid: mix($brand-grey-light, $brand-grey-dark);
$brand-black: #0d0e10;

$brand-text: $brand-white;

$campaign-summer-bg: #017bc8;
$campaign-summer-primary: #0091ec;
$campaign-summer-primary-dark: #0067a8;
$campaign-summer-secondary: #fb4194;
$campaign-summer-tertiary: #0bded5;
$campaign-summer-accent: #fed501;
$campaign-summer-green: #07d533;

// Informative Colours
$notice-fail: #ea3050;
$notice-pass: #7DD679;
$notice-warn: #fb8a47;
$notice-info: #bc5ce4;

// Social Colours
$facebook-blue: #3b5998;
$twitter-blue: #55acee;
$linkedin-blue: #0077b5;
$instagram-purple: #8941a7;
$gplus-red: #d44c34;
$youtube-red: #cd3a28;
$pinterest-red: #cb2a24;
