$ff-stack: $font-stack-helvetica;
$ff-head: "Brandon Text", $ff-stack;
$ff-body: "Brandon Text", $ff-stack;
$ff-script: "Stackyard", $ff-stack;
$ff-icon: "icons";

$fs-base: 18px;
$fs-tablet: 16px;
$fs-mobile: 14px;

$modularscale: (
  base: 1em,
  ratio: $major-second,
  desktop: (
    base: 1em,
    ratio: $major-third
  )
);

$fs-h1: ms(5);
$fs-h2: ms(4);
$fs-h3: ms(3);
$fs-h4: ms(2);
$fs-h5: ms(1);
$fs-h6: ms(0);

$fs-small: 16px;
$fs-tiny: 12px;
$fs-large: 20px;

$fw-base: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-thin: 300;
$fw-head: $fw-bold;

$lh-base: 1.5;
$lh-head: 1.25;
