$formats: ("ttf", "woff", "woff2");

@include font-face("Brandon Text", "/fonts/brandontext-regular-webfont", $formats) {
  font-style: normal;
  font-weight: 400;
}

@include font-face("Brandon Text", "/fonts/brandontext-bold-webfont", $formats) {
  font-style: normal;
  font-weight: 700;
}