<div ng-controller="PromotionsManager.Backoffice.New.CampaignController as vm" class="umb-panel">
  <umb-load-indicator ng-if="!vm.loaded"></umb-load-indicator>
  <form name="newCampaignForm" id="newCampaignForm" ng-if="vm.loaded">
    <div class="umb-pane">
      <div data-ng-show="dialogData.warning !== undefined && dialogData.warning != ''">
        <p class="text-warning">{{ vm.dialogData.warning }}</p>
      </div>
      <div class="form-group row-fluid">
        <label for="CampaignName" class="span2">Name</label>
        <input type="text" ng-model="vm.campaign.Name" name="CampaignName" id="CampaignName" class="span8" required />
      </div>
      <div class="form-group row-fluid">
        <label for="CampaignEmail" class="span2">Email</label>
        <input type="email" ng-model="vm.campaign.Email" name="CampaignEmail" id="CampaignEmail" class="span8" required />
      </div>
    </div>
    <div class="umb-pane">
      <div class="umb-el-wrap umb-panel-buttons">
        <div class="btn-toolbar umb-btn-toolbar pull-right">
          <!-- ACTION: Cancel -->
          <a href ng-click="nav.hideDialog()" class="btn btn-link">Cancel</a>
          <!-- ACTION: Submit DialogData -->
          <button class="btn btn-primary" ng-click="vm.save()">Save</button>
        </div>
      </div>
    </div>
  </form>
</div>