﻿@inherits UmbracoViewPage<MasterModel<Homepage>>

<section class="Intro u-padwrapper">
  <div class="Intro-full">

    <div class="Intro-content u-ta-center">
      <h1 class="u-mb2"><img src="/images/logo-campaign-summer.png" alt="Brakes Group Spring into Summer Campaign" class="Intro-logo" /></h1>
      <p class="Intro-date Boxed Boxed--ib">30th April - 30th June</p>
      <h2 class="Intro-cta">The perfect ingredients for a successful summer!</h2>
      @Model.Content.LoggedOutCopy
      <a href="/register/" class="Button Button--primary u-mt1 u-mr1">Register</a>
      <a href="/login/" class="Button Button--primary u-mt1" data-js="modal-trigger" data-target="login">Login</a>
    </div>

  </div>

</section>