﻿@inherits UmbracoViewPage<MasterModel<Homepage>>
<section class="Intro u-padwrapper">

  <div class="Intro-main">

    <div class="Intro-spend Boxed u-text-margin">
      Current Spend: @Model.Campaign.ActiveAccount.SpendBalance.ToString("C0")
    </div>

    <div class="Thermometer u-text-margin">
      @Html.Partial("Home/Thermometer")
      <p class="Thermometer-label">@Model.Campaign.ActiveAccount.TradingState</p>
    </div>

    <div class="Intro-content">
      @if (!string.IsNullOrWhiteSpace(Model.Content.LoggedInHeading))
      {
        <h1 class="u-h4">@Model.Content.LoggedInHeading</h1>
      }
      @if (!string.IsNullOrWhiteSpace(Model.Content.LoggedInSubHeading))
      {
        <h2 class="u-h6">@Model.Content.LoggedInSubHeading</h2>
      }
      @Model.Content.LoggedInCopy
      <a href="#rewards" class="Button Button--primary u-mt1" data-js="scroll-to">View my rewards</a>
    </div>

  </div>

  <figure class="Intro-graphic Watermelon">
    @for (var i = 1; i < 5; i++)
    {
      var newWindow = Model.Content.Links[i - 1].Item2 ? "Target='_blank'" : "";
      <div class="Watermelon-slice">
        <a href="@Model.Content.Links[i-1].Item1" @newWindow>
          <img src="/images/melon-@(i).png" alt="" />
        </a>
      </div>
    }
  </figure>

</section>