@inherits UmbracoViewPage<MasterModel<Homepage>>

@{ 
    var brand = Model.Campaign.ActiveAccount.Brand;
    var offerUrl = "";

    if(brand != null)
    {
        if(brand == "Woodward")
        {
            offerUrl = "https://www.woodward-foodservice.com/promotions";
        }
        if(brand == "Brakes")
        {
            offerUrl = "https://www.brake.co.uk/promotions";
        }
    }
}

<section class="Section u-bg-splash">
  <div class="Promotions">

    <header class="Promotions-content">
      <img src="/images/icon-pound.png" alt="" role="presentation" class="Promotions-icon">
      <h3 class="Promotions-title Boxed">Your Promotions</h3>
      <p class="Promotions-intro">Fantastic prices just for you only available through telesales</p>
      <p><a href="tel:@Model.Campaign.ActiveAccount.TelesalesNumber" class="Promotions-call">Call @Model.Campaign.ActiveAccount.TelesalesNumber</a></p>
      <a href="@offerUrl" class="Button" target="_blank">View all offers</a>

    </header>

    <div class="Swiper u-wrapper" data-js="swiper">
      <ul class="Promotions-list Swiper-list u-list-ui" data-js="swiper-list" data-flickity-classname="Promotions-flickity">
        @foreach ( var item in Model.Campaign.ActiveAccount.Promotions ) 
        {
          <li class="Promotions-item  Swiper-item">
            @Html.Partial("Promotions/ProductCard", item)
          </li>
        }
      </ul>
      <button type="button" class="Swiper-btn Swiper-btn--prev" data-js="swiper-prev">
        <span class="u-srt">Previous</span>
        @MarkupHelper.Icon("icon-arrow-left")
      </button>
      <button type="button" class="Swiper-btn Swiper-btn--next" data-js="swiper-next">
        <span class="u-srt">Next</span>
        @MarkupHelper.Icon("icon-arrow-right")
      </button>
      <div class="Swiper-swipeIndicator">
        <span class="u-srt">Swipe</span>
        @MarkupHelper.Icon("icon-swipe")
      </div>
    </div>

  </div>
</section>