﻿@inherits UmbracoViewPage<MasterModel<Homepage>>

<div id="rewards" class="Section u-bg-darker u-rel u-crop">
  <section class="Rewards Swiper u-wrapper" data-js="swiper">
    <h2 class="u-srt">Rewards</h2>
    <ul class="Rewards-list Swiper-list u-list-ui" data-js="swiper-list" data-flickity-classname="Rewards-flickity">
      @foreach (var item in Model.Campaign.Tiers)
      {
        item.Brand = Model.Campaign.ActiveAccount.Brand;
        item.ClaimOpen = Model.Campaign.ClaimOpen;
        <li class="Rewards-item Swiper-item">
          @Html.Partial("Rewards/RewardTier", item)
        </li>
      }
    </ul>
    <button type="button" class="Swiper-btn Swiper-btn--prev" data-js="swiper-prev">
      <span class="u-srt">Previous</span>
      @MarkupHelper.Icon("icon-arrow-left")
    </button>
    <button type="button" class="Swiper-btn Swiper-btn--next" data-js="swiper-next">
      <span class="u-srt">Next</span>
      @MarkupHelper.Icon("icon-arrow-right")
    </button>
    <div class="Swiper-swipeIndicator">
      <span class="u-srt">Swipe</span>
      @MarkupHelper.Icon("icon-swipe")
    </div>
  </section>
  @MarkupHelper.Icon("sun", "Rewards-sun")
</div>