<footer class="Footer">
  <nav class="ObjectList" aria-label="Further Information Navigation">
    <a href="/faqs" class="Footer-link ObjectList-item">FAQs</a>
    <a href="/terms-conditions" class="Footer-link ObjectList-item">Terms</a>
    <a href="/cookies" class="Footer-link ObjectList-item">Cookies</a>
    <a href="https://www.brake.co.uk/about-us/privacy-policy" target="_blank" class="Footer-link ObjectList-item">Privacy</a>
  </nav>
</footer>