﻿@inherits UmbracoViewPage<IMasterModel>

<header class="Header u-wrapper">
  @(
    Model.Campaign.ActiveAccount != null 
      ? LoggedIn(Model.Campaign.ActiveAccount) 
      : LoggedOut()
  )
</header>


@helper LoggedIn(Account user)
{
  <div class="Header-banner">
    <img src="/images/logo-brand-@(Model.Campaign.ActiveAccount.Brand.ToLower()).png" alt="@Model.Campaign.ActiveAccount.Brand" class="Header-brandLogo" />
  </div>

  <div class="Header-member Header-member--name CurrentMember">
    <span class="CurrentMember-name u-text-heading">@user.BusinessName</span>
    <button type="button" class="CurrentMember-switch u-hide@touch" data-js="modal-trigger" data-target="switch-account">
      <span class="u-srt">Switch Account</span>
    </button>
    <button type="button" class="CurrentMember-switch u-hide@desktop" data-js="modal-trigger" data-target="account-actions">
      <span class="u-srt">Switch Account</span>
    </button>
  </div>

  <span class="Header-member Header-member--no u-text-heading">Account Number: @user.ClaimCode</span>

  <nav class="Header-member Header-member--links MemberLinks u-text-heading">
    <a href="/add-account/" class="MemberLinks-item" data-js="modal-trigger" data-target="add-account">Add Account</a>
    @using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleLogout", null, new { @class = "MemberLinks-item" }))
    {
      <button type="submit" class="MemberLinks-btn u-btn-unset">Logout</button>
    }
  </nav>

  <div class="Header-logo">
    <a href="/">
      <img src="/images/logo-campaign-summer.png" alt="Brakes Group Spring into Summer Campaign" class="Header-campaignLogo" />
    </a>
  </div>
}

@helper LoggedOut()
{
  <div class="Header-banner">
    <img src="/images/logo-brand-brakes.png" alt="Brakes" class="Header-brandLogo" />
  </div>

  <div class="Header-brand Header-brand--nectar u-ta-center">
    <img src="/images/logo-brand-nectar.png" alt="Nectar Business" class="Header-brandLogo" />
  </div>

  <div class="Header-brand Header-brand--woodward u-ta-right">
    <img src="/images/logo-brand-woodward.svg" alt="Woodward" class="Header-brandLogo" />
  </div>
}

@helper Logo()
{
  <img src="/images/logo-brand-brakes.png" alt="Brakes" class="Header-brandLogo" />
}