﻿@model Modal

@{ 
    var ModalId = Model.Id.ToLower().Replace(" ", string.Empty);
}

@if (!ViewData.ModelState.IsValid)
{
  var cookie = new HttpCookie("activeModal", Model.Id)
  {
    Expires = DateTime.Now.AddHours(1)
  };
  Response.Cookies.Add(cookie);
}

<section id="modal-@ModalId" class="Modal" data-js="modal" role="dialog" aria-laballedby="modal-heading-@ModalId">
  <header class="Modal-header">
    <h2 id="modal-heading-@ModalId" class="Modal-heading" tabindex="-1">@Model.Heading</h2>
  </header>
  <div class="Modal-body">
    @Model.Content
  </div>
  <button type="button" class="Modal-close Close" data-js="modal-close">
    <span class="u-srt">Close dialog</span>
  </button>
</section>