﻿@model OrderedList
    
<div class="@Model.GetClassName()">
  <h5 class="@Model.GetClassName("heading")">@Model.Heading</h5>
  <ol class="@Model.GetClassName("items")">
    @foreach (var item in Model.Items)
    {
      <li class="@Model.GetClassName("item")">@item</li>
    }
  </ol>
</div>