﻿@model Panel

@{
    var variant = "";
    if (ViewBag.PanelListCount != null)
    {
      variant = $"Panel--variant{1 + ViewBag.PanelListCount % 3}";
    }
}

<article class="@Model.GetClassName() @Model.GetClassName(modifier: "toggle") @variant">
  <header class="@Model.GetClassName("header")" data-js="accordion-header">
    <h2 class="@Model.GetClassName("title")">@Model.Heading</h2>
    @Model.Cta
  </header>
  <div class="@Model.GetClassName("body")" data-js="accordion-body">
    @if (Model.Picture != null)
    {
      <figure class="@Model.GetClassName("media")">
        @Html.Partial("Media/Picture", Model.Picture)
      </figure>
    }
    <div class="@Model.GetClassName("content") s-cms">
      @Model.Body
    </div>
    @Model.ExtendedContent
  </div>
</article>