﻿@model Table
    
<table class="@Model.GetClassName()">
  <caption class="@Model.GetClassName("title")">
    <h4>@Model.Title</h4>
  </caption>
  <thead class="@Model.GetClassName("head")">
  <tr>
    @foreach (var heading in Model.Headings)
    {
      <th class="@Model.GetClassName("heading")">
        <h6 class="u-m0">@heading</h6>
      </th>
    }
  </tr>
  </thead>
  <tbody>
  @foreach (var row in Model.Rows)
  {
    <tr>
      @foreach (var cell in row)
      {
        <td class="@Model.GetClassName("cell")">@cell</td>
      }
    </tr>
  }
  </tbody>
</table>