<!DOCTYPE html>
<html lang="en">
<head>
  {% for css in htmlWebpackPlugin.files.css %}
  <link rel="stylesheet" href="{{ css }}">
  {% endfor %}
  <meta charset="UTF-8">
  <title>Test</title>
  {% for js in htmlWebpackPlugin.files.js %}
  <script src="{{ js }}" charset="utf-8" defer></script>
  {% endfor %}
</head>
<body>
  {% block content %}Don't look at me, I'm hideous!{% endblock %}
  {% block scripts %}{% endblock %}
</body>
</html>
