.Checkbox {
    margin-bottom: 5px;
    //display: block;
    display: flex;
    align-items: center;
  
    &--multiLine {
      align-items: normal;
      // IE11
      display: block;
  
      /* postcss-bem-linter: ignore */
      .Checkbox-check {
        float: left;
      }
  
      .Checkbox-content {
        float: left;
        width: 100%;
        max-width: calc(100% - 30px);
      }
  
      @supports(display: grid) {
        display: flex;
  
        .Checkbox-check {
          float: none;
        }
  
        .Checkbox-content {
          float: none;
          width: auto;
          max-width: unset;
        }
      }
      // End of IE11
    }
  
    input[type="checkbox"] {
      //display: none;
      opacity: 0;
      position: absolute;
  
      &:checked + .Checkbox-check {
        &:before {
          content: '✓';
          top: 5px;
          left: 2px;
          position: absolute;
          line-height: 0;
          padding: 3px 0;
          color: $brand-primary-dark;
          font-weight: 700;
        }
      }
  
      &:focus {
        outline: none;
  
        & + .Checkbox-check {
          outline: 2px solid $brand-primary-light;
          box-shadow: 0 0 8px 1px rgba($brand-primary, 0.5);
        }
      }
    }
  
    &-check {
      line-height: 0;
      height: 15px;
      background: $brand-white;
      border: none;
      display: inline-block;
      flex: 0 0 auto;
      margin-right: 10px;
      position: relative;
      width: 15px;
      overflow: hidden; // Firefox
      .Checkbox--multiLine & {
        position: relative;
        top: 5px;
      }
    }
  }
  
  /* postcss-bem-linter: ignore */
  .checkboxlist--inline {
    display: flex;
    flex-wrap: wrap;
  
    .checkbox-item {
      flex-basis: 50%;
    }
  }
  