.Input {
  width: 100%;
  padding: .5em .65em;
  outline: 0;
  border: 1px solid $campaign-summer-tertiary;
  background-color: $campaign-summer-primary-dark;
  font-size: 1rem;
  color: $brand-text;
  transition: .25s border-color $ease-in-out-sine;

  &::placeholder {
    color: $brand-grey-mid;
  }

  &:focus {
    border-color: $campaign-summer-accent;
  }

  &.is-invalid {
    color: $notice-fail;
    border-color: $notice-fail;
  }

  &--multiline {
    min-height: 8rem;
    margin-top: 2em;
    padding: .5em 1em;
    border-width: 1px;
  }
}
