.Radio {
  margin-bottom: .25rem;
  display: flex;
  align-items: center;

  [type="radio"] {
    opacity: 0;
    position: absolute;

    &:checked + .Radio-check {
      &::before {
        content: "";
        @include position(absolute, 2px);
        border-radius: 50%;
        background: $campaign-summer-secondary;
      }
    }

    &:focus {
      outline: none;

      & + .Radio-check {
        box-shadow: 0 0 8px 1px rgba($brand-primary, 0.5);
      }
    }
  }

  &-check {
    line-height: 0;
    height: 15px;
    background: $brand-white;
    border: none;
    border-radius: 50%;
    display: inline-block;
    flex: 0 0 auto;
    margin-right: 10px;
    position: relative;
    width: 15px;
  }
}

/* postcss-bem-linter: ignore */
.radiobuttonlist--inline {
  display: flex;
  margin-top: 0.3125rem;

  .radio-item {
    margin-right: 3rem;

    &:last-of-type {
      margin-right: 0;
    }
  }
}
