.Quote {
  position: relative;
  padding-left: 2em;
  background-color: rgba(0, 0, 0, .05);
  font-size: 1.2em;
  line-height: 1.6;

  &::before {
    content: "“";
    position: absolute;
    left: -.35em;
    display: inline-block;
    vertical-align: bottom;
    font-family: serif;
    font-size: 4em;
    line-height: 0;
  }
}
