<div ng-controller="PromotionsManager.CampaignController as vm" class="clearfix">

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

    <form name="editCampaignForm" novalidate val-form-manager>

        <umb-editor-view>

            <umb-editor-header name="vm.page.name"
                               name-locked="!vm.page.editable"
                               hide-icon="true"
                               hide-description="true"
                               navigation="vm.page.navigation"
                               hide-alias="true">
            </umb-editor-header>

            <umb-editor-container>

                <div class="umb-package-details" ng-show="vm.activeView==='campaign'">

                    <div class="umb-package-details__main-content">

                        <umb-box>

                            <umb-box-header title-key="campaign_overview"></umb-box-header>

                            <umb-box-content class="block-form">

                                <umb-control-group label="@general_email" required="true">

                                    <input type="email"
                                           localize="placeholder"
                                           placeholder="@placeholders_enteremail"
                                           class="input-block-level"
                                           ng-model="vm.campaign.Email"
                                           umb-auto-focus name="email"
                                           val-email
                                           required
                                           val-server-field="Email" />
                                    <span class="help-inline" val-msg-for="email" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
                                    <span class="help-inline" val-msg-for="email" val-toggle-msg="valServerField"></span>
                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>

                        <umb-box>

                            <umb-box-header title-key="campaign_claimform"></umb-box-header>

                            <umb-box-content class="block-form">

                                <umb-control-group label="@campaign_claimstart">

                                    <input type="date"
                                           class="input-block-level"
                                           ng-model="vm.campaign.ClaimStartDate"
                                           umb-auto-focus name="claimStartDate"
                                           val-date
                                           val-server-field="ClaimStartDate" />
                                    <span class="help-inline" val-msg-for="claimStartDate" val-toggle-msg="valServerField"></span>
                                </umb-control-group>

                                <umb-control-group label="@campaign_claimend">

                                    <input type="date"
                                           class="input-block-level"
                                           ng-model="vm.campaign.ClaimEndDate"
                                           umb-auto-focus name="claimEndDate"
                                           val-date
                                           val-server-field="claimEndDate" />
                                    <span class="help-inline" val-msg-for="claimEndDate" val-toggle-msg="valServerField"></span>
                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>

                        <umb-box>

                            <umb-box-header title-key="campaign_gifts"></umb-box-header>

                            <umb-box-content class="block-form">

                                <umb-control-group>

                                    <umb-permission ng-repeat="availableGift in vm.campaign.AvailableGifts"
                                                    name="availableGift.Name"
                                                    selected="availableGift.allocated">
                                    </umb-permission>

                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>

                    </div>

                    <div class="umb-package-details__sidebar">

                        <div class="umb-package-details__section">

                            <!-- Campaign state charts -->
                            <!--<div>
                                Chart 1 goes here
                            </div>

                            <div style="margin-bottom: 20px; padding-bottom: 20px; border-bottom: 1px solid #d8d7d9;">
                                Chart 2 goes here
                            </div>-->

                            <div style="margin-bottom: 20px;" ng-if="vm.canImport">

                                <div style="margin-bottom: 10px;">
                                    <umb-button ng-if="!vm.campaign.IsLive"
                                                type="button"
                                                button-style="[success,block]"
                                                state="vm.enableCampaignButtonState"
                                                action="vm.enableCampaign()"
                                                label="Enable"
                                                label-key="actions_enable"
                                                size="s">
                                    </umb-button>
                                </div>

                                <div style="margin-bottom: 10px;">
                                    <umb-button ng-if="vm.campaign.IsLive"
                                                type="button"
                                                button-style="[info,block]"
                                                action="vm.disableCampaign()"
                                                state="vm.disableCampaignButtonState"
                                                label="Disable"
                                                label-key="actions_disable"
                                                size="s">
                                    </umb-button>
                                </div>

                            </div>

                            <div style="margin-bottom: 20px;">

                                <div style="margin-bottom: 10px;">

                                    <umb-button ng-if="vm.canImport && !vm.isImporting"
                                                type="button"
                                                button-style="[success,block]"
                                                state="vm.importCampaignButtonState"
                                                action="vm.toggleImportCampaign()"
                                                label="Import"
                                                label-key="actions_import"
                                                size="s">
                                    </umb-button>

                                    <ng-form ng-if="vm.isImporting" name="importForm" class="block-form" val-form-manager>

                                        <h4>Data import</h4>

                                        <div ngf-select ngf-drop ng-model="vm.file" ngf-drop-available="dropAvailable" style="max-width: 100%; margin-bottom: 10px; cursor:pointer;" class="umb-node-preview-add">{{vm.file ? vm.file.name : "Click or drop file"}}</div>

                                        <umb-button type="button"
                                                    action="vm.toggleImportCampaign()"
                                                    label="Cancel"
                                                    label-key="general_cancel"
                                                    button-style="cancel">
                                        </umb-button>

                                        <umb-button ng-if="vm.file"
                                                    type="button"
                                                    action="vm.doImportCampaign()"
                                                    label="Import"
                                                    label-key="actions_import"
                                                    button-style="success"
                                                    style="float:right;">
                                        </umb-button>

                                    </ng-form>

                                </div>

                                <div style="margin-bottom: 10px;">

                                    <umb-button ng-if="!vm.isUpdating"
                                                type="button"
                                                button-style="[info,block]"
                                                action="vm.toggleUpdateCampaign()"
                                                state="vm.updateCampaignButtonState"
                                                label="Update"
                                                label-key="actions_update"
                                                size="s">
                                    </umb-button>

                                    <ng-form ng-if="vm.isUpdating" name="updateForm" class="block-form" val-form-manager>

                                        <h4>Data update</h4>

                                        <div ngf-select ngf-drop ng-model="vm.file" ngf-drop-available="dropAvailable" style="max-width: 100%; margin-bottom: 10px; cursor:pointer;" class="umb-node-preview-add">{{vm.file ? vm.file.name : "Click or drop file"}}</div>

                                        <umb-permission ng-if="vm.file"
                                                        name="vm.importPromotions.Name"
                                                        selected="vm.importPromotions.State">
                                        </umb-permission>

                                        <umb-permission ng-if="vm.file"
                                                        name="vm.importTargets.Name"
                                                        selected="vm.importTargets.State">
                                        </umb-permission>

                                        <umb-permission ng-if="vm.file"
                                                        name="vm.fileSettings.Name"
                                                        selected="vm.fileSettings.State"
                                                        style="border-bottom:none;">
                                        </umb-permission>

                                        <umb-control-group label="@campaign_password" ng-if="vm.fileSettings.State">

                                            <input type="password"
                                                   class="input-block-level"
                                                   ng-model="vm.fileSettings.Password" />

                                        </umb-control-group>

                                        <umb-button type="button"
                                                    action="vm.toggleUpdateCampaign()"
                                                    label="Cancel"
                                                    label-key="general_cancel"
                                                    button-style="cancel">
                                        </umb-button>

                                        <umb-button ng-if="vm.file"
                                                    type="button"
                                                    action="vm.doUpdateCampaign()"
                                                    label="Update"
                                                    label-key="actions_import"
                                                    button-style="success"
                                                    style="float:right;">
                                        </umb-button>

                                    </ng-form>

                                </div>

                                <div style="margin-bottom: 10px;">

                                    <umb-button ng-if="!vm.prepareExport"
                                                type="button"
                                                button-style="[info,block]"
                                                action="vm.toggleExportCampaign()"
                                                state="vm.exportCampaignButtonState"
                                                label="Export"
                                                label-key="actions_export"
                                                size="s">
                                    </umb-button>

                                    <ng-form ng-if="vm.prepareExport" name="ExportForm" class="block-form" val-form-manager>

                                        <h4>Export data</h4>

                                        <umb-permission name="vm.fileSettings.Name"
                                                        selected="vm.fileSettings.State"
                                                        style="border-bottom:none;">
                                        </umb-permission>

                                        <umb-control-group label="@campaign_password" ng-if="vm.fileSettings.State">

                                            <input type="password"
                                                   class="input-block-level"
                                                   ng-model="vm.fileSettings.Password" />

                                        </umb-control-group>

                                        <umb-button type="button"
                                                    action="vm.toggleExportCampaign()"
                                                    label="Cancel"
                                                    label-key="general_cancel"
                                                    button-style="cancel">
                                        </umb-button>

                                        <umb-button type="button"
                                                    action="vm.doExportCampaign()"
                                                    label="Export"
                                                    label-key="actions_export"
                                                    button-style="success"
                                                    style="float:right;">
                                        </umb-button>

                                    </ng-form>

                                </div>

                            </div>

                            <!-- Campaign data (readonly) -->

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="general_status">Status</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <umb-badge style="margin-top: 4px;" size="s" color="{{vm.campaign.activeState}}">
                                        {{vm.campaign.activeStateLabel}}
                                    </umb-badge>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="campaign_campaignactivedate">Campaign</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span>{{ vm.campaign.CampaignStartDate | date:mediumDate }} - {{vm.campaign.CampaignEndDate | date:mediumDate}}</span>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="campaign_claimactivedate">Claim form open</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span ng-if="vm.campaign.ClaimStartDate">{{ vm.campaign.ClaimStartDate | date:mediumDate }} - {{vm.campaign.ClaimEndDate | date:mediumDate}}</span>
                                    <span ng-if="!vm.campaign.ClaimStartDate">{{vm.campaign.Name}} <localize key="campaign_claimdatenotset">claim form open dates not yet set</localize></span>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="campaign_created">Campaign created</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span>{{ vm.campaign.CreatedDate | date:'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="campaign_edited">Campaign updated</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span>{{ vm.campaign.UpdatedDate | date:'dd/MM/yyyy HH:mm' }}</span>
                                </div>
                            </div>

                        </div>

                    </div>


                </div>

                <div ng-show="vm.activeView==='gifts' && vm.activeSubView === ''">

                    <div class="umb-user-cards" ng-show="vm.gifts">
                        <a href="" class="umb-user-card" ng-repeat="giftTier in vm.gifts" ng-click="vm.clickGiftTier(giftTier)">
                            <div class="umb-user-card__content">
                                <div class="umb-user-card__avatar">
                                    <umb-avatar size="l" color="success" name="{{giftTier.Name}}" img-src="">
                                    </umb-avatar>
                                </div>
                                <div class="umb-user-card__name" href="">{{giftTier.Name}}</div>

                                <div class="umb-user-card__group">
                                    <!--<span>{{campaign.CampaignStartDate | date:mediumDate }} - {{campaign.CampaignEndDate | date:mediumDate }}</span>-->
                                </div>

                            </div>

                        </a>

                    </div>


                </div>

                <div class="umb-package-details" ng-show="vm.activeView==='gifts' && vm.activeSubView === 'giftTierDetail'">

                    <div class="umb-package-details__main-content">

                        <umb-box ng-repeat="gift in vm.currentGift.Gifts">

                            <umb-box-header title="{{gift.Name}}"></umb-box-header>

                            <umb-box-content class="block-form">

                                <umb-control-group label="@campaign_giftName">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="gift.Value" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_giftMedia" ng-if="gift.HasMedia">

                                    <div ng-show="gift.media.thumbnail != ''">
                                        <umb-image-thumbnail width="{{gift.media.width}}"
                                                             height="{{gift.media.height}}"
                                                             src="gift.media.thumbnail"
                                                             max-size="100" />
                                    </div>

                                    <div ng-show="gift.media.thumbnail === ''">
                                        <i class="icon icon-add blue"></i>
                                        <a href="#" ng-click="vm.pickImage(gift)" prevent-default="">
                                            <localize key="general_add" class="ng-isolate-scope ng-scope">Add</localize>
                                        </a>
                                    </div>

                                    <div ng-show="gift.media.thumbnail != ''">
                                        <i class="icon icon-delete red"></i>
                                        <a href="#" ng-click="vm.removeImage(gift)" prevent-default="">
                                            <localize key="general_delete" class="ng-isolate-scope ng-scope">Remove</localize>
                                        </a>
                                    </div>

                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>


                    </div>

                    <div class="umb-package-details__sidebar">

                        <div class="umb-package-details__section">
                            <div class="block-form">

                                <umb-control-group label="@campaign_giftName">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentGift.Name" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_giftClaimCode">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentGift.ClaimCode" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_giftColour">

                                    <div class="NielsLyngsoe-ColorInput">
                                        <ng-form>
                                            <input type="text" class="umb-textstring textstring" ng-model="vm.currentGift.Colour" />
                                            <div class="display" style="background-color:{{vm.currentGift.Colour}};"></div>
                                        </ng-form>
                                    </div>

                                </umb-control-group>

                            </div>
                        </div>

                    </div>

                </div>

                <div ng-show="vm.activeView==='accounts' && vm.activeSubView === ''">

                    <umb-editor-sub-header>

                        <!-- No selection -->
                        <umb-editor-sub-header-content-right ng-if="vm.accountsSelection.length === 0">

                            <!--<umb-editor-sub-header-section>
                              <umb-layout-selector ng-if="vm.layouts"
                                                   layouts="vm.layouts"
                                                   active-layout="vm.activeLayout"
                                                   on-layout-select="vm.selectLayout">
                              </umb-layout-selector>
                            </umb-editor-sub-header-section>-->

                            <umb-editor-sub-header-section>
                                <div class="form-search -no-margin-bottom pull-right">
                                    <div class="inner-addon left-addon">
                                        <i class="icon icon-search"></i>
                                        <input class="form-control search-input"
                                               type="text" localize="placeholder"
                                               placeholder="@general_typeToSearch"
                                               ng-model="vm.accountOptions.filter"
                                               ng-change="vm.searchAccounts()"
                                               prevent-enter-submit
                                               no-dirty-check>
                                    </div>
                                </div>
                            </umb-editor-sub-header-section>

                        </umb-editor-sub-header-content-right>

                        <!-- With selection -->
                        <umb-editor-sub-header-content-left ng-if="vm.accountsSelection.length > 0">
                            <umb-editor-sub-header-section>
                                <umb-button type="button"
                                            label="Clear selection"
                                            size="xs"
                                            label-key="buttons_clearSelection"
                                            action="vm.clearSelection()"
                                            disabled="actionInProgress">
                                </umb-button>
                            </umb-editor-sub-header-section>
                            <umb-editor-sub-header-section>
                                <strong>{{ vm.accountsSelection.length }} <localize key="general_of">of</localize> {{ vm.accounts.length }} <localize key="general_selected">selected</localize></strong>
                            </umb-editor-sub-header-section>

                        </umb-editor-sub-header-content-left>

                        <umb-editor-sub-header-content-right ng-if="vm.accountsSelection.length > 0">

                            <div style="margin-right: 5px;">
                                <umb-button ng-if="vm.allowEnableUser"
                                            type="button"
                                            size="xs"
                                            state="vm.enableUserButtonState"
                                            label-key="actions_enable"
                                            icon="icon-check"
                                            action="vm.enableUsers()">
                                </umb-button>
                            </div>


                            <div>
                                <umb-button ng-if="vm.allowDisableUser"
                                            type="button"
                                            size="xs"
                                            state="vm.disableUserButtonState"
                                            label-key="actions_disable"
                                            icon="icon-block"
                                            action="vm.disableUsers()">
                                </umb-button>
                            </div>

                        </umb-editor-sub-header-content-right>

                    </umb-editor-sub-header>

                    <div style="margin-bottom: 20px;" class="flex items-center">

                        <div style="font-size: 16px;">
                            <span class="bold"><localize key="sections_users">Accounts</localize></span> <span ng-if="vm.accounts">({{vm.accounts.length}})</span>
                        </div>

                        <div class="flex" style="margin-left: auto;">

                            <!-- Brand filter -->
                            <div style="position: relative;">
                                <a class="btn btn-link dropdown-toggle flex" href="" ng-click="vm.toggleFilter('brand')">
                                    <span>Brand:</span>
                                    <span class="bold truncate dib" style="margin-left: 5px; margin-right: 3px; max-width: 150px;">{{ vm.accountOptions.filters.brandFilter.Name }}</span>
                                    <span class="caret"></span>
                                </a>
                                <umb-dropdown class="pull-right" ng-if="vm.page.showBrandFilter" on-close="vm.page.showOrderByFilter = false;" umb-keyboard-list>
                                    <umb-dropdown-item ng-repeat="sortData in vm.brands">
                                        <a href="#" ng-click="vm.setBrandFilter(sortData)" prevent-default>{{sortData.Name}}</a>
                                    </umb-dropdown-item>
                                </umb-dropdown>
                            </div>

                        </div>

                    </div>

                    <umb-empty-state ng-if="!vm.accounts"
                                     position="center">
                        <localize key="general_searchNoResult"></localize>
                    </umb-empty-state>

                    <div class="umb-user-cards" ng-show="vm.accounts">
                        <a href="" class="umb-user-card" ng-repeat="account in vm.accounts" ng-click="vm.clickAccount(account)">
                            <div class="umb-user-card__content">
                                <umb-badge class="umb-user-card__badge" size="xs" ng-if="!account.HasRegistered" color="danger">
                                    Unregistered
                                </umb-badge>
                                <umb-badge class="umb-user-card__badge" size="xs" ng-if="account.HasRegistered" color="success">
                                    Registered
                                </umb-badge>
                                <div class="umb-user-card__avatar">
                                    <umb-avatar size="l" color="secondary" name="{{account.BusinessName}}" img-src="">
                                    </umb-avatar>
                                </div>
                                <div class="umb-user-card__checkmark" ng-class="{'umb-user-card__checkmark--visible': account.HasClaimed }">
                                    <umb-checkmark ng-if="account.HasClaimed" checked="user.selected" size="s"></umb-checkmark>
                                </div>
                                <div class="umb-user-card__name" href="">{{account.BusinessName}}</div>
                                <div class="umb-user-card__group">
                                    <span>Claim Code: {{ account.ClaimCode }}<br />URN: {{ account.Urn }}</span>
                                </div>
                                <!--<div class="umb-user-card__last-login">
                                  <div>
                                    <div>
                                      <localize key="user_lastLogin">Last login</localize>
                                    </div>
                                  </div>
                                </div>-->
                            </div>
                        </a>
                    </div>

                </div>

                <div class="umb-package-details" ng-show="vm.activeView==='accounts' && vm.activeSubView === 'accountDetail'">

                    <div class="umb-package-details__main-content">

                        <umb-box>

                            <umb-box-header title="Account details"></umb-box-header>

                            <umb-box-content class="block-form">

                                <umb-control-group label="@campaign_accountUrn">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Urn"
                                           readonly />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountClaimCode">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.ClaimCode"
                                           readonly />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountName">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.BusinessName" />

                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>

                        <umb-box>

                            <umb-box-header title="Personal Information"></umb-box-header>

                            <umb-box-content class="block-form">

                                <umb-control-group label="@campaign_accountFirstName">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.FirstName"
                                           readonly />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountLastName">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.LastName"
                                           readonly />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountEmail">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Email"
                                           readonly />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountAddress1">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Address1" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountAddress2">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Address2" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountAddress3">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Address3" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountTown">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Town" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountCounty">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.County" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountPostcode">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Postcode" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountTelephone">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Telephone" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountMobile">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.Mobile"
                                           readonly />

                                </umb-control-group>

                            </umb-box-content>

                        </umb-box>


                    </div>

                    <div class="umb-package-details__sidebar">

                        <div class="umb-package-details__section">

                            <div class="umb-package-details__information-item">

                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountRegistered">Account registered</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <umb-badge style="margin-top: 4px;" size="s" color="{{vm.currentAccount.registeredState}}">
                                        {{vm.currentAccount.registeredStateLabel}}
                                    </umb-badge>
                                </div>
                            </div>

                            <ng-form name="memberForm" class="block-form" val-form-manager>

                                <umb-control-group label="@campaign_accountSpendBalance">

                                    <input type="number"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.SpendBalance" />

                                </umb-control-group>

                            </ng-form>

                            <div class="umb-package-details__information-item">

                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountCreated">Date account created</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span>{{vm.currentAccount.Created | date:mediumDate }}</span>
                                </div>

                            </div>

                            <div class="umb-package-details__information-item">

                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountUpdated">Date account updated</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span>{{vm.currentAccount.Updated | date:mediumDate}}</span>
                                </div>

                            </div>

                            <div class="umb-package-details__information-item" ng-if="vm.currentAccount.UmbracoMemberGuid">

                                <umb-button type="button"
                                            action="vm.clickMemberLink(vm.currentAccount.UmbracoMemberGuid)"
                                            label="Edit Member"
                                            disabled="vm.loading">
                                </umb-button>

                            </div>

                        </div>

                        <div class="umb-package-details__section" ng-if="vm.currentAccount.HasRegistered">

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountGdprSalesContact">GDPR Sales contact</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <umb-badge style="margin-top: 4px;" size="s" color="{{vm.currentAccount.gdprSalesContactState}}">
                                        {{vm.currentAccount.gdprSalesContactStateLabel}}
                                    </umb-badge>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item" ng-if="vm.currentAccount.GdprSalesContact">
                                <div class="umb-package-details__information-item-content">
                                    <ul>
                                        <li ng-if="vm.currentAccount.SalesEmail">{{vm.currentAccount.SalesEmail | iif : "By email" : "" }}</li>
                                        <li ng-if="vm.currentAccount.SalesTelephone">{{vm.currentAccount.SalesTelephone | iif : "By telephone" : "" }}</li>
                                        <li ng-if="vm.currentAccount.SalesMobile">{{vm.currentAccount.SalesMobile | iif : "By mobile" : "" }}</li>
                                    </ul>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountGdprOffersContact">GDPR News and Offers contact</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <umb-badge style="margin-top: 4px;" size="s" color="{{vm.currentAccount.gdprSalesContactState}}">
                                        {{vm.currentAccount.gdprSalesContactStateLabel}}
                                    </umb-badge>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item" ng-if="vm.currentAccount.GdprOffers">
                                <div class="umb-package-details__information-item-content">
                                    <ul>
                                        <li ng-if="vm.currentAccount.OffersEmail">{{vm.currentAccount.OffersEmail | iif : "By email" : "" }}</li>
                                        <li ng-if="vm.currentAccount.OffersTelephone">{{vm.currentAccount.OffersTelephone | iif : "By telephone" : "" }}</li>
                                        <li ng-if="vm.currentAccount.OffersMobile">{{vm.currentAccount.OffersMobile | iif : "By mobile" : "" }}</li>
                                        <li ng-if="vm.currentAccount.OffersPost">{{vm.currentAccount.OffersPost | iif : "By post" : "" }}</li>
                                    </ul>
                                </div>
                            </div>

                        </div>

                        <div class="umb-package-details__section">

                            <div class="umb-package-details__information-item">

                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountNectar">Nectar card customer</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <umb-badge style="margin-top: 4px;" size="s" color="{{vm.currentAccount.nectarAccountState}}">
                                        {{vm.currentAccount.nectarAccountStateLabel}}
                                    </umb-badge>
                                </div>
                            </div>

                            <div class="umb-package-details__information-item" ng-if="vm.currentAccount.NectarCustomer">
                                <div class="umb-package-details__information-item-label">
                                    <localize key="@campaign_accountNectarPointsBallance">Nectar points balance</localize>:
                                </div>
                                <div class="umb-package-details__information-item-content">
                                    <span>{{vm.currentAccount.NectarPointsBalance}}</span>
                                </div>

                            </div>

                            <ng-form name="nectarForm" class="block-form" val-form-manager ng-if="vm.currentAccount.NectarCustomer">

                                <umb-control-group label="@campaign_accountNectarCardNumber">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.NectarCardNumber" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountNectarBonus">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.NectarBonusPoints" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountNectarTarget">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.NectarBonusTarget" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountNectarCurrent">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.NectarPointsBalance" />

                                </umb-control-group>

                                <umb-control-group label="@campaign_accountNectarMinimum">

                                    <input type="text"
                                           class="input-block-level"
                                           ng-model="vm.currentAccount.NectarBonusMinimum" />

                                </umb-control-group>

                            </ng-form>

                        </div>



                        <!--<div class="umb-package-details__section">

                          <div class="umb-package-details__information-item">
                            <div class="umb-package-details__information-item-content">
                              <umb-badge style="margin-top: 4px;" size="s" color="{{vm.currentAccount.nectarAccountState}}">
                                {{vm.currentAccount.nectarAccountStateLabel}}
                              </umb-badge>
                            </div>
                          </div>

                          <div class="umb-package-details__information-item">
                            <div class="umb-package-details__information-item-label">
                              <localize key="@campaign_accountNectarPointsBallance">Nectar points ballance</localize>:
                            </div>
                            <div class="umb-package-details__information-item-content">
                              <span>{{vm.currentAccount.NectarPointsBalance}}</span>
                            </div>

                          </div>

                          <ng-form name="nectarForm" class="block-form" val-form-manager>

                            <umb-control-group label="@campaign_accountNectarBonus">

                              <input type="text"
                                     class="input-block-level"
                                     ng-model="vm.currentAccount.NectarBonusPoints" />

                            </umb-control-group>


                          </ng-form>

                        </div>-->

                    </div>



                </div>

            </umb-editor-container>

            <umb-editor-footer>

                <umb-editor-footer-content-left>

                    <umb-breadcrumbs ancestors="vm.breadcrumbs"
                                     allow-on-open="true"
                                     on-open="vm.goToPage(ancestor)">
                    </umb-breadcrumbs>

                </umb-editor-footer-content-left>

                <umb-editor-footer-content-right>

                    <umb-button type="button"
                                action="vm.goToPage(vm.breadcrumbs[0])"
                                label="Return to list"
                                label-key="buttons_returnToList"
                                disabled="vm.loading">
                    </umb-button>

                    <umb-button type="button"
                                action="vm.save()"
                                state="vm.page.saveButtonState"
                                button-style="success"
                                shortcut="ctrl+s"
                                label="Save"
                                label-key="buttons_save"
                                disabled="vm.loading">
                    </umb-button>

                </umb-editor-footer-content-right>

            </umb-editor-footer>

        </umb-editor-view>

    </form>

</div>