<div ng-controller="PromotionsManager.OverviewController as vm" class="clearfix">

  <umb-editor-view footer="false">

    <umb-editor-header name="vm.page.name"
                       name-locked="true"
                       hide-icon="true"
                       hide-description="true"
                       hide-alias="true">
    </umb-editor-header>

    <umb-editor-container>

      <umb-editor-sub-views sub-views="vm.page.navigation"></umb-editor-sub-views>

      <!-- Campaigns overview -->
      <div ng-if="vm.campaignViewState === 'overview'">

        <umb-editor-sub-header>

          <umb-editor-sub-header-content-left>

            <umb-button-group ng-if="vm.defaultButton"
                              default-button="vm.defaultButton"
                              sub-buttons="vm.subButtons">
            </umb-button-group>


          </umb-editor-sub-header-content-left>

        </umb-editor-sub-header>

        <!-- Empty states -->
        <umb-empty-state ng-if="!vm.activeCampaigns" position="center">

          <localize key="general_searchNoResult"></localize>

        </umb-empty-state>

        <!-- Layout: Cards -->
        <div class="umb-user-cards" ng-if="vm.activeCampaigns && vm.loading != false">
          <a href="" class="umb-user-card" ng-repeat="campaign in vm.activeCampaigns" ng-click="vm.clickCampaign(campaign)">
            <div class="umb-user-card__content">
              <div class="umb-user-card__avatar">
                <umb-avatar size="l" color="secondary" name="{{campaign.Name}}" img-src="">
                </umb-avatar>
              </div>
              <div class="umb-user-card__checkmark" ng-class="{'umb-user-card__checkmark--visible': campaign.IsLive }">
                <umb-checkmark ng-if="campaign.IsLive" checked="campaign.IsLive" size="s"></umb-checkmark>
              </div>
              <div class="umb-user-card__name" href="">{{campaign.Name}}</div>
              <div class="umb-user-card__group">
                <span>{{campaign.CampaignStartDate | date:mediumDate }} - {{campaign.CampaignEndDate | date:mediumDate }}</span>
              </div>
            </div>
          </a>
        </div>

      </div>

      <!-- Campaigns details -->
      <div ng-if="vm.campaignViewState === 'details'">

      </div>

      <!-- Add campaign -->
      <div ng-if="vm.campaignViewState === 'createCampaign'">

        <umb-editor-sub-header>
          <umb-editor-sub-header-content-left>
            <a class="umb-package-details__back-link" href="" ng-click="vm.setCampaignViewState('overview');">&larr; Back to campaigns</a>
          </umb-editor-sub-header-content-left>
        </umb-editor-sub-header>

        <div class="flex justify-center">

          <form name="addCampaignForm" no-validate val-form-manager style="max-width: 500px;" class="block-form">

            <div>
              <h3 class="bold" style="margin-bottom: 0;">
                <localize key="campaigns_createCampaignHeader">Create new campaign</localize>
              </h3>
              <p style="line-height: 1.6em; margin-bottom: 15px;">
                <localize key="campaigns_createCampaignHelp"></localize>
              </p>
            </div>

            <umb-control-group label="Campaign name" label-for="name" required="true">
              <input type="text" name="name" placeholder="Name" class="input-block-level" ng-model="vm.newCampaign.name"
                     umb-auto-focus required val-server-field="name" />
              <span class="help-inline" val-msg-for="name" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
              <span class="help-inline" val-msg-for="name" val-toggle-msg="valServerField"></span>
            </umb-control-group>

            <umb-control-group label="Owners email address" label-for="email" required="true">
              <input type="email" name="email" placeholder="Email address" class="input-block-level" ng-model="vm.newCampaign.email"
                     umb-auto-focus required val-server-field="email" />
              <span class="help-inline" val-msg-for="email" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
              <span class="help-inline" val-msg-for="email" val-toggle-msg="valServerField"></span>
            </umb-control-group>

            <umb-control-group label="Campaign start date" label-for="startDate" required="true">
              <input type="date" name="startDate" placeholder="Start date" class="input-block-level" ng-model="vm.newCampaign.startDate"
                     umb-auto-focus required val-server-field="startDate" />
              <span class="help-inline" val-msg-for="startDate" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
              <span class="help-inline" val-msg-for="startDate" val-toggle-msg="valServerField"></span>
            </umb-control-group>

            <umb-control-group label="Campaign end date" label-for="endDate" required="true">
              <input type="date" name="endDate" placeholder="End date" class="input-block-level" ng-model="vm.newCampaign.endDate"
                     umb-auto-focus required val-server-field="endDate" />
              <span class="help-inline" val-msg-for="endDate" val-toggle-msg="required"><localize key="general_required">Required</localize></span>
              <span class="help-inline" val-msg-for="endDate" val-toggle-msg="valServerField"></span>
            </umb-control-group>

            <umb-button button-style="success"
                        state="vm.page.createButtonState"
                        type="button"
                        action="vm.createCampaign(addCampaignForm)"
                        label-key="campaigns_processNew"
                        size="m">
            </umb-button>

          </form>

        </div>

      </div>

      <!-- Create campaign success -->
      <div ng-if="vm.campaignViewState === 'createCampaignSuccess'">

        <umb-editor-sub-header>
          <umb-editor-sub-header-content-left>
            <a class="umb-package-details__back-link" href="" ng-click="vm.setCampaignViewState('overview');">&larr; Back to campaigns</a>
          </umb-editor-sub-header-content-left>
        </umb-editor-sub-header>

        <div class="flex justify-center">
          <div style="max-width: 500px;">

            <!-- Success text -->
            <div class="flex items-center" style="margin-bottom: 15px;">
              <umb-checkmark checked="vm.campaignViewState === 'createCampaignSuccess'"
                             size="m">
              </umb-checkmark>
              <h3 class="bold" style="margin: 0 0 0 10px;">
                {{vm.newCampaign.name}}
                <localize key="user_userCreated">has been created</localize>
              </h3>
            </div>

            <p style="line-height: 1.6em; margin-bottom: 20px;"><localize key="user_userCreatedSuccessHelp"></localize></p>

            <!-- actions -->
            <div>
              <umb-button type="button" button-style="info"
                          label-key="user_createAnotherUser"
                          action="vm.setCampaignViewState('createUser');"
                          size="m">
              </umb-button>
              <umb-button type="button"
                          button-style="success"
                          label-key="user_goToProfile"
                          action="vm.goToCampaign(vm.newCampaign.id);"
                          size="m">
              </umb-button>
            </div>

          </div>
        </div>

      </div>

    </umb-editor-container>

  </umb-editor-view>

</div>