.Boxed {
  padding: .5rem 1rem;
  border: 2px solid $campaign-summer-accent;
  background-color: $campaign-summer-primary;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);

  &--big {
    padding: 1.5rem;
  }

  &--ib {
    display: inline-block;
  }
}