.Close {
  position: relative;
  @include size(2em);
  border-radius: 50%;
  transition: color .3s ease, background-color .3s ease;
  
  &::before,
  &::after {
    content: "";
    @include position(absolute, calc(1em - 1px) .5em null);
    width: 1em;
    height: 2px;
    background-color: currentColor;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}