.Form {
  max-width: 40rem;
  margin: auto;

  &-label,
  &-heading {
    //display: none;
  }

  &-label {
    display: block;
    margin-bottom: .25rem;
    font-weight: $fw-bold;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  &-fieldset {
    border: 0;
    padding: 0;
  }

  &-row {
    display: flex;

    @include breakpoint($mobile-all) {
      flex-wrap: wrap;
    }

    @include breakpoint($tablet) {
      margin-bottom: 1rem;
    }
  }

  &-field {
    position: relative;
    flex-grow: 1;

    @include breakpoint($mobile-all) {
      flex-basis: 100%;
      margin-bottom: 1em;
    }

    @include breakpoint($tablet) {
      & + & {
        margin-left: 1rem;
      }
    }
  }

  &-control {
    position: relative;
    flex-grow: 1;
  }

  &-note {
    font-style: italic;
    font-size: $fs-small;

    &--error {
      @include position(absolute, null 0);
      padding: .1rem 0.5rem;
      margin-bottom: 0;
      background-color: $notice-fail;

      &::after {
        content: "!";
        @include position(absolute, 50% .5rem null null);
        @include size(1rem);
        border-radius: 50%;
        background-color: $brand-white;
        line-height: 1;
        font-weight: $fw-bold;
        color: $notice-fail;
        font-style: normal;
        text-align: center;
        transform: translateY(-50%);
      }

      &:not(.is-hidden) {
        animation: slideUpOut .35s ease forwards;
      }

      &.is-hidden {
        animation: slideUpIn .35s ease forwards;
      }
    }
  }

  &-required {
    color: $notice-fail;
  }

  &-actions {
    align-items:center;

    &--centered {
      display: flex;
      justify-content: center;
    }

    &--end {
      display: flex;
      justify-content: flex-end;
    }
  }

  &-divider-horiz {
    border: none;
    border-bottom: 1px solid $brand-white;
    margin: 1rem 0;
    width: 100%;
  }
}
