.Media {
  display: flex;

  @include breakpoint($mobile-all) {
    flex-wrap: wrap;
  }

  &--center {
    align-items: center;
  }

  &-figure {
    @include breakpoint($mobile-all) {
      flex-basis: 100%;
      padding-right: 0;
      padding-bottom: 1em;
    }

    &:first-child {
      padding-right: 2em;
    }

    &:last-child {
      padding-left: 2em;
    }

    @include breakpoint($mobile-all) {
      .Media--collapse & {
        &:first-child {
          padding-right: 0;
          padding-bottom: 2em;
        }

        &:last-child {
          padding-top: 2em;
          padding-left: 0;
        }
      }
    }
  }
}
