.ObjectList {
  display: flex;
  align-items: center;
  list-style: none;

  &--center {
    justify-content: center;
  }

  &--space {
    justify-content: space-around;
  }

  &-item {
    & + & {
      margin-left: 1rem;
    }
  }
}