.OEmbed {
  height: 0;
  min-width: 20rem;
  position: relative;
  padding-top: 56.25%;

  /* postcss-bem-linter: ignore */  
  &-content,
  > iframe {
    @include position(absolute, 0);
    @include size(100%);
    border: 0;
  }
}
