.OrderedList {
  &-heading {
    padding-bottom: .25rem;
    margin-bottom: .25rem;
    border-bottom: 1px solid $brand-black;
  }

  &-items {
    padding-left: 0;
    margin-bottom: 1rem;
    list-style-position: inside;
    font-size: .75rem;
  }

  &-item {
    padding: .25rem 0;
    border-bottom: 1px dashed rgba($brand-black, .3);

    &:last-child {
      border-bottom: 0;
    }
  }
}