.Panel {
  background-color: $brand-bg;
  box-shadow: 0 3px 8px rgba($brand-black, 0.25);
  // color: $brand-black;
  
  &--variant1 {
    background-color: $campaign-summer-secondary;
  }
  
  &--variant2 {
    background-color: $campaign-summer-tertiary;
  }

  &--variant3 {
    background-color: $campaign-summer-accent;

    .Site--growProfitsArea & {
      background-color: $campaign-summer-green;
    }
  }

  & + & {
    margin-top: 1rem;
  }

  &-header {
    display: flex;
    align-items: center;
    padding: .5rem;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);

    .Panel--toggle > &::before {
      content: "+";
      display: flex;
      align-items: center;
      align-self: stretch;
      margin: -.5rem;
      margin-right: 0;
      padding: 0 1rem;
      border-right: 1px solid rgba($brand-black, 0.15);
      font-size: 2rem;
    }

    .is-open &::before {
      content: "\2212";
    }
  }

  &-title {
    flex-grow: 1;
    margin-left: .5rem;
    margin-bottom: 0;
    font-size: $fs-h4;
  }

  &-body {
    position: relative;
    display: grid;
    grid-template:
      "media" 10rem
      "content" auto
      / 1fr;
    background-color: $brand-bg;
    color: $brand-black;

    @include breakpoint($tablet) {
      *::-ms-backdrop, & {
        display: -ms-grid;
      }
      grid-template-rows: 20rem auto;
      grid-template-columns: auto;
    }

    @include ie {
      -ms-grid-rows: 20rem auto;
    }

    .Panel--toggle > & {
      //height: 0;
      overflow: hidden;
    }
  }

  &-media {
    grid-area: media;

    @include ie {
      position: relative;
      overflow: hidden;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
    }

    //> img {
      //@include ie {
        //@include position(absolute, 50% null null 50%);
        //width: 100%;
        //height: auto;
        //transform: translate(-50%, -50%);
      //}
    //}
  }

  &-content {
    grid-area: content;
    padding: 1.5rem;

    &:first-child {
      grid-row-start: a;
    }

    @include ie {
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;

      &:first-child {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
      }
    }

    /* postcss-bem-linter: ignore */
    a:not([class]) {
      color: $campaign-summer-secondary;
    }
  }
}