.Scroller {
  position: relative;
  overflow: hidden;
  
  &-wrap {
    height: 100%;
    overflow: auto;
    margin-right: -$maxScrollbarSize;
    padding-right: $maxScrollbarSize;
  }
  
  &-track {
    @include position(absolute, 0 0 0 null);
  }

  &-handle {
    @include position(absolute, 0 0 null null);
    border: none;
  }
}