.Section {
  padding-top: 1rem;
  padding-bottom: 1rem;

  @include breakpoint($tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &-row {
    & + & {
      margin-top: 1rem;

      @include breakpoint($tablet) {
        margin-top: 4rem;
      }
    }
  }
}