.Site {
  display: flex;
  flex-direction: column;
  background-color: $campaign-summer-bg;
  background-image: url("/images/bg-main.svg");
  background-repeat: no-repeat;
  background-size: 160rem;
  background-position: -80rem 50%;

  &--recipesArea {
    background-color: #07d533;
    background-image: url("/images/bg-recipes.svg");
  }

  &--growProfitsArea {
    background-color: #fed501;
    background-image: url("/images/bg-profits.svg");
  }

  &--nectarPoints {
    background-color: #fb4194;
    background-image: url("/images/bg-nectar.svg");
  }
  
  @include ie {
    height: 100%;
  }

  &-main {
    // IE11
    flex: 1 0 auto;

    @supports(display: grid) {
      flex: 1 1 0%;
    }
  }

  &.has-modal {
    overflow: hidden;

    &::after {
      content: "";
      @include position(fixed, 0);
      background-color: rgba($brand-black, .6);
    }
  }

  &.is-loggedOut {
    justify-content: space-between;
  }
}