.Swiper {
  position: relative;
  padding-left: 3rem;
  padding-right: 3rem;

  &-list {
    &.is-enabled {
      display: block;
    }

    &:focus {
      outline: none;
    }
  }

  &-item {
    position: static !important;
  }

  &-btn {
    @include position(absolute, 50% null null);
    @include size(2rem, 2.5rem);
    transform: translateY(-50%);
    transition: opacity .3s $ease-in-out-cubic;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }

    &.is-disabled {
      opacity: 0;
      cursor: unset;
    }
  }

  &-swipeIndicator {
    display: flex;
    justify-content: center;
    
    @include breakpoint($desktop) {
      display: none;
    }
  }
}