.Table {
  width: 100%;
  margin-bottom: .75rem;
  border-collapse: collapse;

  &-row {
    @include breakpoint($mobile-all) {
      display: block;
      
      & + & {
        border-top: 1px solid $campaign-summer-accent;
      }
    }
  }

  &-heading,
  &-cell {
    padding: .5rem 0;
  }
  
  &-heading {
    @include breakpoint($mobile-all) {
      display: none;
    }
  }
  
  &-cell {
    @include breakpoint($mobile-all) {
      border: none;
      display: flex;
      align-items: flex-start;

      &:first-child {
        padding-bottom: 0;
        font-weight: 700;
      }
    }
  }
}