// Add SVG xlink namespace
@namespace xlink url("http://www.w3.org/1999/xlink");

// Dependencies
@import "bourbon/core/bourbon";
@import "breakpoint-sass/stylesheets/breakpoint";
@import "axiom-flex-grid/sass/ag";
@import "family.scss/source/src/family";
@import "modularscale-sass/stylesheets/modularscale";

// Tools
@import "tools/zindex";
@import "tools/arrow";

// Settings
@import "settings/swatches";
@import "settings/typography";
@import "settings/breakpoints";
@import "settings/dimensions";
@import "settings/zindex";
@import "settings/ag";

// Fonts
// @import 'fonts';

// Generic
@import "normalize.css/normalize";
@import "generic/box-sizing";

// Base
@import "base/body";
@import "base/typography";
@import "base/anchors";
@import "base/media";
@import "base/forms";

// Components
// @import 'components/';

/* stylelint-disable */
.mce-content-body {
	padding-top: 0 !important;
	padding-left: 8px !important;
	padding-right: 8px !important;
}
/* stylelint-enable */
