﻿@using BrakesPromotions.Common.Enums
@model GiftTier

@{
    //var url = Model.ClaimOpen ? "/claim/?q={0}" : "#";
    var url = "/claim/?q={0}";
    var brand = Model.Gifts.FirstOrDefault(x => x.GiftType == GiftEnums.GiftType.BrandVoucher);
    var nectar = Model.Gifts.FirstOrDefault(x => x.GiftType == GiftEnums.GiftType.NectarPoints);
    var love2shop = Model.Gifts.FirstOrDefault(x => x.GiftType == GiftEnums.GiftType.Love2ShopVoucher);
}

<article class="RewardTier">
    <h3 class="u-srt">@Model.Name</h3>
    <div class="RewardTier-target">
        <p class="RewardTier-targetLabel">Spend another</p>
        <p class="RewardTier-targetAmount">@Model.TargetGap.ToString("C0")</p>
        <p class="u-m0">To be able to claim one of these <strong class="u-text-accent">exciting</strong> rewards &hellip;</p>
    </div>
    <ul class="RewardTier-rewards ObjectList ObjectList--center u-list-ui">
        @foreach (var item in Model.Gifts.Where(x => x.GiftType == GiftEnums.GiftType.Gadget))
        {
            <li class="ObjectList-item">
                @Html.Partial("Rewards/Reward", item)
            </li>
        }
    </ul>
    <span class="RewardTier-or">Or</span>
    <ul class="RewardTier-vouchers ObjectList ObjectList--space u-list-ui">
        <li class="ObjectList-item">
            <a href="@string.Format(url, brand.GiftGuid)" class="Voucher" data-js="tooltip" data-content="@Html.Raw(string.Format(brand.Name, Model.Brand))">
                <img src="/images/badge-@(Model.Brand.ToLower()).png" alt="@Html.Raw(string.Format(brand.Name, Model.Brand))">
            </a>
        </li>
        <li class="ObjectList-item">
            <a href="@string.Format(url, nectar.GiftGuid)" class="Voucher" data-js="tooltip" data-content="@nectar.Name">
                <img src="/images/badge-nectar.png" alt="@nectar.Name">
            </a>
        </li>
        <li class="ObjectList-item">
            <a href="@string.Format(url, love2shop.GiftGuid)" class="Voucher" data-js="tooltip" data-content="@Html.Raw(love2shop.Name)">
                <img src="/images/badge-love2shop.png" alt="@Html.Raw(love2shop.Name)">
            </a>
        </li>
    </ul>
</article>