﻿@using Umbraco.Web.Models
@model Gift
@{
    var url = $"/claim/?q={Model.GiftGuid}";
}

<figure class="Reward Tooltip-wrapper" data-js="tooltip" data-content="@Model.Name">
    <a href="@url">
        <img class="Reward-image" src="@(Model.Image?.GetCropUrl(150, 150, imageCropMode: ImageCropMode.Pad) ?? "/images/reward-1.png")" alt="@Model.Name">
    </a>
</figure>
