﻿@using BrakesPromotions.Common.Helpers
@inherits UmbracoViewPage<IMasterModel>
@{
  Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
  @if (!string.IsNullOrWhiteSpace(Model.GtmCode))
  {
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', '@Model.GtmCode');</script>
    <!-- End Google Tag Manager -->
  }
  <link rel="apple-touch-icon" sizes="57x57" href="/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon/favicon-16x16.png">
  <link rel="manifest" href="/scripts/settings/manifest.json">
  <meta name="msapplication-TileColor" content="#157BCE">
  <meta name="msapplication-TileImage" content="/images/favicon/ms-icon-144x144.png">
  <meta name="theme-color" content="#157BCE">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>@Model.SeoTitle</title>
  <meta name="theme-color" content="#157BCE">
  <meta name="description" content="@Model.SeoDescription">
  <meta name="author" content="@Model.SeoAuthor">
  <link rel="canonical" href="@Model.Content.UrlAbsolute()" />
  @foreach (var style in HashedAssetHelper.GetAllStyles())
  {
  <link rel="stylesheet" href="@style" />
  }
  @RenderSection("Scripts", false)
  @RenderSection("MetaData", false)
  @RenderSection("SchemaData", false)
</head>
<body class="Site Site--@Model.Content.DocumentTypeAlias @(Members.IsLoggedIn() ? "is-loggedIn" : "is-loggedOut")">
  @if (!string.IsNullOrWhiteSpace(Model.GtmCode))
  {
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe src="https://www.googletagmanager.com/ns.html?id=@Model.GtmCode"
        height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
  }
  @RenderBody()
  <script type="text/javascript" src="@HashedAssetHelper.GetJsPath("manifest")"></script>
  <script type="text/javascript" src="@HashedAssetHelper.GetJsPath("vendor")"></script>
  <script type="text/javascript" src="@HashedAssetHelper.GetJsPath("site")"></script>
</body>
</html>
