﻿@inherits UmbracoViewPage<MasterModel<GrowProfitsArea>>
@{
  Layout = "SummerCampaignMaster.cshtml";
  var content = new HtmlComponent<ICmGenericContent>(Model.Content, "Section-row u-text-black");
  ViewBag.PanelListCount = 1;
}

<section class="Section u-padwrapper">
  
  @Html.Partial("Generic/Content", content)
  
  <ul class="Section-row u-list-ui" data-js="accordion">
    @foreach (var item in Model.Content.Children<GrowProfitsItem>())
    {
      var model = Panel.CreateInstance(item, Date(item));
      model.ComponentName = "Article";
      <li class="u-mb1">
        @Html.Partial("Generic/Panel", model)
      </li>
      ViewBag.PanelListCount++;
    }
  </ul>
</section>

@helper Date(GrowProfitsItem item)
{
  <strong><time class="Article-date">@item.Date.ToString("d")</time></strong>
}