﻿@inherits UmbracoViewPage<IMasterModel>
@{
  Layout = "Master.cshtml";
}

<div>
  @Html.Partial("Global/Header")
</div>
<main class="Site-main">
  @RenderBody()
</main>
@Html.Partial("Global/Footer")
@if (Members.IsLoggedIn() && Model.Campaign.IsAuthorised)
{
  @Html.Partial("Generic/Modal", new Modal("Account Actions", Html.Partial("SummerCampaign/Partials/AccountActions")))
  @Html.Partial("Generic/Modal", new Modal("Switch Account", Html.Action("ShowSwitchAccounts", "Members", new { UmbracoMemberGuid = Model.Campaign.ActiveAccount.UmbracoMemberGuid, CampaignGuid = Model.Campaign.CampaignGuid }, true)))
  @Html.Partial("Generic/Modal", new Modal("Add Account", Html.Action("ShowAddAccount", "Members", new { accountGuid = Model.Campaign.ActiveAccount.AccountGuid }, true)))
}