﻿@inherits UmbracoViewPage<MasterModel<LoginForm>>
@{
  Layout = "SummerCampaignMaster.cshtml";
}

<div class="u-padwrapper u-mb2">
  @Html.Partial("Generic/Content", new HtmlComponent<ICmGenericContent>(Model.Content))

  <div class="Content">
    @Html.Partial("SummerCampaign/Partials/Login")
  </div>
</div>