﻿@inherits UmbracoViewPage<MasterModel<BrakesPromotions.Common.Models.Generated.Page>>
@{
    Layout = "SummerCampaignMaster.cshtml";
    var request = HttpContext.Current.Request;
    var homeUrl = request.Url.AbsoluteUri.Replace(request.Url.AbsolutePath, String.Empty);
}

<section class="Section u-bg-darker">
  <div class="u-padwrapper">
    <div class="Content">
      <p><a href="@homeUrl">&lt; Back to home</a></p>
    </div>
    
    @Html.Partial("Generic/Content", new HtmlComponent<ICmGenericContent>(Model.Content))
  </div>
</section>