﻿@inherits UmbracoViewPage<MasterModel<RegistrationForm>>
@{
    Layout = "SummerCampaignMaster.cshtml";
    var member = Members.GetCurrentMember();
}

<section class="Section u-bg-darker">
  <div class="u-padwrapper u-mb2">
    <div class="Content">
      <div class="u-mb2">
      @using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleLogout"))
      {
        <button type="submit" class="u-btn-unset u-text-anchor">&lt; Back to home</button>
      }
      </div>

      @Form(member)
    </div>
  </div>
</section>

@helper Form(IPublishedContent member)
{
  if (member == null)
  {
    @Html.Action("ShowRegister", "RegistrationForm", new { CampaignGuid = Model.Campaign.CampaignGuid }, true)
  }
  else
  {
    if (!Model.Campaign.IsAuthorised)
    {
      @Html.Action("ShowValidate", "RegistrationForm", new { CampaignGuid = Model.Campaign.CampaignGuid, AccountGuid = member.GetKey() }, true)
    }
    else
    {
      <h1>You're already registered</h1>
    }
  }
}