﻿@inherits UmbracoViewPage<MasterModel<BrakesPromotions.Common.Models.Generated.ClaimForm>>
@{
    Layout = "SummerCampaignMaster.cshtml";
}

<section class="Section u-bg-darker">
    <div class="u-padwrapper u-mb2">
        <div class="Content">
            <div class="u-mb2">
                @using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleLogout"))
                {
                    <button type="submit" class="u-btn-unset u-text-anchor">&lt; Back to home</button>
                }
            </div>
            @ClaimForm()
        </div>
    </div>
</section>

@helper ClaimForm()
    {
        if (Model.Content.GiftClaimed)
        {

        }
        else
        {
            @Html.Action("ShowClaimForm", "ClaimForm", new { GiftGuid = Model.Content.SelectedGift, AccountGuid = Model.Campaign.ActiveAccount.AccountGuid }, false)
        }
}