﻿@inherits UmbracoViewPage<MasterModel<Homepage>>
@{
  Layout = "SummerCampaignMaster.cshtml";
  @(Model.Campaign.IsLive ? Model.Campaign.ActiveAccount == null ? LoggedOut() : LoggedIn() : Closed())
}

@helper LoggedIn()
  {
    Html.RenderPartial("Home/Intro");
    Html.RenderPartial("Home/Rewards");
    Html.RenderPartial("Home/Promotions");
}

@helper LoggedOut()
  {
    Html.RenderPartial("Home/Guest");
    Html.RenderPartial("Generic/Modal", new Modal("Login", Html.Partial("SummerCampaign/Partials/Login")));
    Html.RenderPartial("Generic/Modal", new Modal("Reset Password", Html.Action("ResetPassword", "Members", new { CampaignGuid = Model.Campaign.CampaignGuid }, true)));
}

@helper Closed()
  {
    <section class="Intro u-padwrapper">
      <div class="Intro-full">

        <div class="Intro-content u-ta-center">
          <h1 class="u-mb2"><img src="/images/logo-campaign-summer.png" alt="Brakes Group Spring into Summer Campaign" class="Intro-logo" /></h1>
          <p class="Intro-date Boxed Boxed--ib">30th April - 30th June</p>
          <h1 class="u-upper" style="font-size: 4rem">Coming Soon</h1>
          <h2 class="Intro-cta">The perfect ingredients for a successful summer!</h2>
          @Model.Content.ClosedCopy
        </div>

      </div>

    </section>
}