﻿@inherits UmbracoViewPage<MasterModel<ResetPassword>>
@{
    Layout = "SummerCampaignMaster.cshtml";
}

<section class="Section u-bg-darker">
    <div class="u-padwrapper u-mb2">
        <div class="Content">
            <div class="u-mb2">
                @using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleLogout"))
                {
                    <button type="submit" class="u-btn-unset u-text-anchor">&lt; Back to home</button>
                }
            </div>

            @Html.Action("ShowChangePassword", "Members", new { CampaignGuid = Model.Campaign.CampaignGuid }, true)
        </div>
    </div>
</section>