﻿@inherits UmbracoViewPage<MasterModel<RecipesArea>>
@{
  Layout = "SummerCampaignMaster.cshtml";
  var content = new HtmlComponent<ICmGenericContent>(Model.Content, "Section-row");
  ViewBag.PanelListCount = 1;
}

<section class="Section u-padwrapper">
  @Html.Partial("Generic/Content", content)

  <ul class="Section-row u-list-ui" data-js="accordion">
    @foreach (var item in Model.Content.Children<RecipesItem>())
    {
      var model = new Panel
      {
        ComponentName = "Recipe",
        Heading = item.Heading,
        Body = BodyContent(item),
        Cta = DownloadButton(item),
        ExtendedContent = ExtendedContent(item),
        Picture = new Picture(item.Image, Picture.CropGroup.RecipePhoto)
        {
          ClassName = "Recipe-image",
          Alt = item.Heading,
          ObjectFit = true
        }
      };
      <li class="u-mb1">
        @Html.Partial("Generic/Panel", model)
      </li>
      ViewBag.PanelListCount++;
    }
  </ul>
</section>

@helper DownloadButton(RecipesItem item)
{
  if (item.Download != null)
  {
    <a href="@($"/documents/{item.Download.Id}/")"
        class="Button Button--secondary u-hide@mobile"
        target="_blank">Download Recipe</a>
  }
}

@helper BodyContent(RecipesItem item)
{
  @item.Body

  if(item.Method != null)
  {
    @Html.Partial("Generic/OrderedList", new OrderedList("Method", item.Method));
  }

  if(item.MiseEnPlace != null)
  {
    @Html.Partial("Generic/OrderedList", new OrderedList("Mise en place", item.MiseEnPlace));
  }
}

@helper ExtendedContent(RecipesItem item)
{
  if(item.IngredientsTable != null)
  {
    item.IngredientsTable.ComponentName = "Ingredients";

    <aside class="Recipe-ingredients">
      @Html.Partial("Generic/Table", item.IngredientsTable)
    </aside>
  }
}