﻿@inherits UmbracoViewPage<MasterModel<NectarPoints>>
@{
    Layout = "SummerCampaignMaster.cshtml";
    var account = Model.Campaign.ActiveAccount;
}

<section class="Section u-padwrapper">
    <div class="Content s-cms u-ta-center">
        <h1>Shop with us and get<br /><span>@(account.NectarBonusPoints?.ToString("#,##")) bonus Nectar points</span></h1>


        <p class="u-ts-larger">Receive @(account.NectarBonusTarget ?? 0 ) or more deliveries worth &pound;@account.NectarBonusMinimum.ToString() or over by 30th June to be eligible.</p>
        <p>Track your order progress below.</p>
    </div>
    <ol class="NectarGrid u-list-ui">
        @for (var i = 0; i < account.NectarBonusTarget; i++)
        {
            <li class="NectarGrid-item">
                <img src="/images/icon-gold-lorry.png" alt="Delivery Target @i">
                @if (i < account.NectarBonusDeliveryCount)
                {
                    @Stamp(i)
                }
            </li>
        }
    </ol>
</section>

@helper Stamp(int i)
    {
        <img src="/images/stamp.png" role="presentation" alt="completed" class="NectarGrid-stamp" />
}
