﻿@model IMasterModel

<ul class="u-list-ui">
  <li>
    <p><a href="/switch-account/" data-js="modal-trigger" data-target="switch-account">Switch Account</a></p>
  </li>
  <li>
    <p><a href="/add-account/" data-js="modal-trigger" data-target="add-account">Add Account</a></p></li>
  <li>
    @using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleLogout", null, new { @class = "MemberLinks-item" }))
    {
      <button type="submit" class="u-text-anchor u-btn-unset">Logout</button>
    }
  </li>
</ul>
