﻿@inherits UmbracoViewPage<NewAccount>
@using BrakesPromotions.Common.Models.Requests

@{
  var formAttr = new
  {
    data_js = "validator"
  };
}

@using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleNewAccount", null, formAttr))
{
  <div class="Form-row">
    <div class="Form-field">
      <label class="Form-label">Claim Code</label>
      @Html.StyledValidationMessageFor(m => m.ClaimCode)
      <div class="Form-control">
        <input
          type="text" 
          name="@Html.NameFor(m => m.ClaimCode)"
          value="@Model.ClaimCode" 
          class="Input @Html.FieldValidationClassname(m => m.ClaimCode)"
          data-val="true"
          data-val-required="Claim code must not be blank" />
      </div>
    </div>
  </div>

  <div class="Form-row">
    <div class="Form-field">
      <div class="Form-control">

        @*<label class="Form-label">@Html.CheckBoxFor(m => m.Switch) Switch Account</label>*@

        <label for="Switch" class="Checkbox">
          <input id="Switch" name="Switch" type="checkbox" value="true" />
          <span class="Checkbox-check"></span>
          <input name="Switch" type="hidden" value="false">
          <span class="Checkbox-content">Switch account</span>
        </label>
      </div>
    </div>
  </div>

  @Html.HiddenFor(m => m.MemberGuid)

  <div class="Form-actions Form-actions--centered">
    <button type="submit" class="Button Button--primary">Add</button>
  </div>

}