﻿@inherits UmbracoViewPage<NewPassword>
@using System.Web.Mvc.Html
@using Umbraco.Web

@{
    var formAttr = new
    {
        novalidate = "novalidate",
        data_js = "validator conditions",
        @class = "Form"
    };
}

@using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleChangeForgottenPassword", null, formAttr))
{
    <h4 class="Form-heading">Change Password</h4>

    if (!Model.Expired)
    {
        <div class="Form-row">

            <div class="Form-field">
                <label class="Form-label" for="Password">New Password</label>
                @Html.StyledValidationMessageFor(m => m.Password)
                <div class="Form-control">
                    <input name="Password"
                           class="Input Input--thin @Html.FieldValidationClassname(m => m.Password)"
                           type="password"
                           aria-label="Password"
                           data-val="true"
                           data-val-required="Password cannot be blank"
                           autocomplete="new-password">
                </div>
            </div>

            <div class="Form-field">
                <label class="Form-label" for="VerifiedPassword">Confirm Password</label>
                @Html.StyledValidationMessageFor(m => m.VerifiedPassword)
                <div class="Form-control">
                    <input name="VerifiedPassword"
                           class="Input Input--thin @Html.FieldValidationClassname(m => m.VerifiedPassword)"
                           type="password"
                           aria-label="Password"
                           data-val="true"
                           data-val-required="Password cannot be blank"
                           autocomplete="new-password">
                </div>
            </div>

        </div>

        @Html.HiddenFor(m => m.Email)
        @Html.HiddenFor(m => m.ValidateGUID)

        <div class="Form-actions Form-actions--centered u-mt1">
            <button type="submit" class="Button Button--primary">Change password</button>
        </div>
    }
    else
    {
        <h5 class="Form-heading">Your password reset link is not valid</h5>
        <p class="u-mb0"><a href="/Reset-Password" data-js="modal-trigger" data-target="reset-password">Send me a new reset link</a></p>

        Html.RenderPartial("Generic/Modal", new Modal("Reset Password", Html.Action("ResetPassword", "Members", new { CampaignGuid = Model.CampaignGuid }, true)));
    }
}