﻿@using Umbraco.Web.Models
@using BrakesPromotions.Common.Enums
@inherits UmbracoViewPage<BrakesPromotions.Common.Models.Custom.ClaimForm>
@{
    var formAttr = new
    {
        novalidate = "novalidate",
        data_js = "validator conditions",
        @class = "Form"
    };

    var brand = Model.Gifts.FirstOrDefault(x => x.GiftType == GiftEnums.GiftType.BrandVoucher);
    var nectar = Model.Gifts.FirstOrDefault(x => x.GiftType == GiftEnums.GiftType.NectarPoints);
    var love2shop = Model.Gifts.FirstOrDefault(x => x.GiftType == GiftEnums.GiftType.Love2ShopVoucher);
}

@using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.ClaimFormController>("HandleClaim", null, formAttr))
{
    <h4 class="Form-heading">Claim your gift!</h4>

    <ul class="RewardTier-rewards ObjectList ObjectList--center u-list-ui">
        @foreach (var gift in Model.Gifts.Where(x => x.Image != null))
        {
            <li class="ObjectList-item" data-selected="@gift.IsClaimed">
                <figure class="Reward Tooltip-wrapper" data-js="tooltip" data-content="@gift.Name">
                    <img class="Reward-image" src="@(gift.Image?.GetCropUrl(150, 150, imageCropMode: ImageCropMode.Pad) ?? "/images/reward-1.png")" alt="@gift.Name">
                </figure>
            </li>
        }
        <li class="ObjectList-item" data-selected="@brand.IsClaimed">
            <figure class="Reward Tooltip-wrapper" data-js="tooltip" data-content="@Html.Raw(string.Format(brand.Name, Model.Brand))">
                <img src="/images/badge-@(Model.Brand.ToLower()).png" alt="@Html.Raw(string.Format(brand.Name, Model.Brand))">
            </figure>
        </li>
        <li class="ObjectList-item" data-selected="@nectar.IsClaimed">
            <figure class="Reward Tooltip-wrapper" data-js="tooltip" data-content="@nectar.Name">
                <img src="/images/badge-nectar.png" alt="@nectar.Name">
            </figure>
        </li>
        <li class="ObjectList-item" data-selected="@love2shop.IsClaimed">
            <figure class="Reward Tooltip-wrapper" data-js="tooltip" data-content="@Html.Raw(love2shop.Name)">
                <img src="/images/badge-love2shop.png" alt="@Html.Raw(love2shop.Name)">
            </figure>
        </li>
    </ul>

    <hr class="Form-divider-horiz">

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="FirstName">First name</label>
            @Html.StyledValidationMessageFor(m => m.FirstName)
            <div class="Form-control">
                <input placeholder="First names"
                       name="FirstName"
                       value="@Request.Form["FirstName"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.FirstName)"
                       type="text"
                       aria-label="First name"
                       data-val="true"
                       data-val-required="First name cannot be blank">
            </div>
        </div>

        <div class="Form-field">
            <label class="Form-label" for="LastName">Last name</label>
            @Html.StyledValidationMessageFor(m => m.LastName)
            <div class="Form-control">
                <input placeholder="Last name"
                       name="LastName"
                       value="@Request.Form["LastName"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.LastName)"
                       type="text"
                       aria-label="Last name"
                       data-val="true"
                       data-val-required="Last name cannot be blank">
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="BusinessName">Business name</label>
            @Html.StyledValidationMessageFor(m => m.BusinessName)
            <div class="Form-control">
                <input placeholder="Business name"
                       name="BusinessName"
                       value="@Request.Form["BusinessName"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.BusinessName)"
                       type="text"
                       aria-label="Business name"
                       readonly>
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="Address1">Address</label>
            @Html.StyledValidationMessageFor(m => m.Address1)
            <div class="Form-control">
                <input placeholder="Address"
                       name="Address1"
                       value="@Request.Form["Address1"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Address1)"
                       type="text"
                       aria-label="Address line 1"
                       readonly>
            </div>
        </div>

        <div class="Form-field">

            <label class="Form-label" for="Address2">Address line 2</label>
            @Html.StyledValidationMessageFor(m => m.Address2)
            <div class="Form-control">
                <input placeholder="Address line 2"
                       name="LastName"
                       value="@Request.Form["Address2"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Address2)"
                       type="text"
                       aria-label="Address line 2"
                       readonly>
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="Address3">Address line 3</label>
            @Html.StyledValidationMessageFor(m => m.Address3)
            <div class="Form-control">
                <input placeholder="Address line 3"
                       name="Address3"
                       value="@Request.Form["Address3"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Address3)"
                       type="text"
                       aria-label="Address line 3"
                       readonly>
            </div>
        </div>

        <div class="Form-field">

            <label class="Form-label" for="Town">Town</label>
            @Html.StyledValidationMessageFor(m => m.Town)
            <div class="Form-control">
                <input placeholder="Town"
                       name="Town"
                       value="@Request.Form["Town"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Town)"
                       type="text"
                       aria-label="Town"
                       readonly>
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">

            <label class="Form-label" for="County">County</label>
            @Html.StyledValidationMessageFor(m => m.County)
            <div class="Form-control">
                <input placeholder="County"
                       name="County"
                       value="@Request.Form["County"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.County)"
                       type="text"
                       aria-label="County"
                       readonly>
            </div>
        </div>

        <div class="Form-field">

            <label class="Form-label" for="Postcode">Postcode</label>
            @Html.StyledValidationMessageFor(m => m.Postcode)
            <div class="Form-control">
                <input placeholder="Postcode"
                       name="Postcode"
                       value="@Request.Form["Postcode"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Postcode)"
                       type="text"
                       aria-label="Postcode"
                       readonly>
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">

            <label class="Form-label" for="Telephone">Telephone number</label>
            @Html.StyledValidationMessageFor(m => m.Telephone)
            <div class="Form-control">
                <input placeholder="Telephone number"
                       name="Telephone"
                       value="@Request.Form["Telephone"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Telephone)"
                       type="tel"
                       aria-label="Telephone number"
                       readonly>
            </div>
        </div>

        <div class="Form-field">
            <label class="Form-label" for="Mobile">Mobile number</label>
            @Html.StyledValidationMessageFor(m => m.Mobile)
            <div class="Form-control">
                <input placeholder="Mobile number"
                       name="Mobile"
                       value="@Request.Form["Mobile"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.Mobile)"
                       type="tel"
                       aria-label="Mobile"
                       readonly>
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">

            <label class="Form-label" for="NectarCardNumber"><img src="/images/logo-brand-nectar.png" alt="Nectar Business" class="Header-brandLogo"> Nectar card number</label>
            @Html.StyledValidationMessageFor(m => m.NectarCardNumber)
            <div class="Form-control">
                <input placeholder="Nectar card number"
                       name="NectarCardNumber"
                       value="@Request.Form["NectarCardNumber"]"
                       class="Input Input--thin @Html.FieldValidationClassname(m => m.NectarCardNumber)"
                       type="text"
                       aria-label="Nectar card number">
            </div>
        </div>

    </div>

    <hr class="Form-divider-horiz">

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="IsBusinessOwner">
                Are you the business owner?
            </label>
            @Html.StyledValidationMessageFor(m => m.IsBusinessOwner)
            <div class="Form-control">
                <div class="radiobuttonlist radiobuttonlist--inline" id="IsBusinessOwner">
                    <div class="radio-item">
                        <label class="Radio" for="IsBusinessOwner_0">
                            <input type="radio" name="IsBusinessOwner" id="IsBusinessOwner_0"
                                   value="true" class="Radio" data-val="true" data-val-requiredlist="Please select"
                                   @(Request.Form["IsBusinessOwner"] == "true" ? "checked" : "")>
                            <span class="Radio-check"></span>
                            <span class="Radio-content">Yes</span>
                        </label>
                    </div>
                    <div class="radio-item">
                        <label class="Radio" for="IsBusinessOwner_1">
                            <input type="radio" name="IsBusinessOwner" id="IsBusinessOwner_1"
                                   value="false" class="Radio" data-val="true" data-val-requiredlist="Please select"
                                   @(Request.Form["IsBusinessOwner"] == "false" ? "checked" : "")>
                            <span class="Radio-check"></span>
                            <span class="Radio-content">No</span>
                        </label>
                    </div>
                </div>

            </div>

            <div class="Form-field u-mt1"
                 data-condition="{&quot;actionType&quot;:&quot;show&quot;,&quot;logicType&quot;:&quot;all&quot;}"
                 data-rules="[{&quot;field&quot;:&quot;IsBusinessOwner&quot;,&quot;Operator&quot;:&quot;is&quot;,&quot;value&quot;:&quot;false&quot;}]">
                <label class="Form-label" for="HasPermission">
                    Do you have permission from the business owner to take part in this campaign?
                </label>
                @Html.StyledValidationMessageFor(m => m.HasPermission)
                <div class="Form-control">
                    <div class="radiobuttonlist radiobuttonlist--inline" id="HasPermission">
                        <div class="radio-item">
                            <label class="Radio" for="HasPermission_0">
                                <input type="radio" name="HasPermission" id="HasPermission_0"
                                       value="true" class="Radio" data-val="true" data-val-requiredlist="Please select"
                                       @(Request.Form["HasPermission"] == "true" ? "checked" : "")>
                                <span class="Radio-check"></span>
                                <span class="Radio-content">Yes</span>
                            </label>
                        </div>
                        <div class="radio-item">
                            <label class="Radio" for="HasPermission_1">
                                <input type="radio" name="HasPermission" id="HasPermission_1"
                                       value="false" class="Radio" data-val="true" data-val-requiredlist="Please select"
                                       @(Request.Form["HasPermission"] == "false" ? "checked" : "")>
                                <span class="Radio-check"></span>
                                <span class="Radio-content">No</span>
                            </label>
                        </div>
                    </div>

                </div>

                <div class="Form-field u-mt1"
                     data-condition="{&quot;actionType&quot;:&quot;show&quot;,&quot;logicType&quot;:&quot;all&quot;}"
                     data-rules="[{&quot;field&quot;:&quot;HasPermission&quot;,&quot;Operator&quot;:&quot;is&quot;,&quot;value&quot;:&quot;true&quot;}]">
                    <label class="Form-label" for="BusinessOwnerName">
                        Name of business owner
                    </label>
                    @Html.StyledValidationMessageFor(m => m.BusinessOwnerName)
                    <div class="Form-control">
                        <input placeholder="Business owner name"
                               name="BusinessOwnerName"
                               value="@Request.Form["BusinessOwnerName"]"
                               class="Input Input--thin @Html.FieldValidationClassname(m => m.BusinessOwnerName)"
                               type="text"
                               aria-label="Business owner name">
                    </div>

                </div>

                <div class="Form-field u-mt1"
                     data-condition="{&quot;actionType&quot;:&quot;show&quot;,&quot;logicType&quot;:&quot;all&quot;}"
                     data-rules="[{&quot;field&quot;:&quot;HasPermission&quot;,&quot;Operator&quot;:&quot;is&quot;,&quot;value&quot;:&quot;false&quot;}]">
                    <p class="Form-note">
                        if you do not have permission from the business owner, you will be unable to submit this claim
                    </p>
                </div>


            </div>


        </div>

    </div>

    <hr class="Form-divider-horiz">

    <h4 class="Form-legend u-h5">Your Communication Preferences</h4>

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="OffersContact">
                Would you be happy for Brakes to contact you with the latest offers and news?
            </label>
            @Html.StyledValidationMessageFor(m => m.OffersContact)
            <div class="Form-control">
                <div class="radiobuttonlist radiobuttonlist--inline" id="OffersContact">
                    <div class="radio-item">
                        <label class="Radio" for="OffersContact_0">
                            <input type="radio" name="OffersContact" id="OffersContact_0"
                                   value="true" class="Radio" data-val="true" data-val-requiredlist="Please select"
                                   @(Request.Form["OffersContact"] == "true" ? "checked" : "")>
                            <span class="Radio-check"></span>
                            <span class="Radio-content">Yes</span>
                        </label>
                    </div>
                    <div class="radio-item">
                        <label class="Radio" for="OffersContact_1">
                            <input type="radio" name="OffersContact" id="OffersContact_1"
                                   value="false" class="Radio" data-val="true" data-val-requiredlist="Please select"
                                   @(Request.Form["OffersContact"] == "false" ? "checked" : "")>
                            <span class="Radio-check"></span>
                            <span class="Radio-content">No</span>
                        </label>
                    </div>
                </div>

            </div>

            <div class="Form-field">
                <label for="LatestNewsContactPref" class="Checkbox"><span class="u-srt">Contact preferences</span></label>
                <div class="Form-control u-mt1"
                     data-condition="{&quot;actionType&quot;:&quot;show&quot;,&quot;logicType&quot;:&quot;all&quot;}"
                     data-rules="[{&quot;field&quot;:&quot;OffersContact&quot;,&quot;Operator&quot;:&quot;is&quot;,&quot;value&quot;:&quot;true&quot;}]">
                    <div class="checkboxlist" id="LatestNewsContactPref">
                        <div class="checkbox-item">
                            <label for="LatestNewsContactPref_0" class="Checkbox">
                                <input type="checkbox" name="LatestNewsContactPref"
                                       id="LatestNewsContactPref_0" value="Via Email"
                                       data-val="true" data-val-required="Please select"
                                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via Email") ?? false ? "checked" : "")>
                                <span class="Checkbox-check"></span>
                                <span class="Checkbox-content">Via Email</span>
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label for="LatestNewsContactPref_1" class="Checkbox">
                                <input type="checkbox" name="LatestNewsContactPref"
                                       id="LatestNewsContactPref_1" value="Via Phone"
                                       data-val="true" data-val-required="Please select"
                                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via Phone") ?? false ? "checked" : "")>
                                <span class="Checkbox-check"></span>
                                <span class="Checkbox-content">Via Telephone</span>
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label for="LatestNewsContactPref_2" class="Checkbox">
                                <input type="checkbox" name="LatestNewsContactPref"
                                       id="LatestNewsContactPref_2" value="Via SMS"
                                       data-val="true" data-val-required="Please select"
                                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via SMS") ?? false ? "checked" : "")>
                                <span class="Checkbox-check"></span>
                                <span class="Checkbox-content">Via SMS</span>
                            </label>
                        </div>
                        <div class="checkbox-item">
                            <label for="LatestNewsContactPref_3" class="Checkbox">
                                <input type="checkbox" name="LatestNewsContactPref"
                                       id="LatestNewsContactPref_3" value="Via Post"
                                       data-val="true" data-val-required="Please select"
                                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via Post") ?? false ? "checked" : "")>
                                <span class="Checkbox-check"></span>
                                <span class="Checkbox-content">Via Post</span>
                            </label>
                        </div>
                        <input name="LatestNewsContactPref[]" type="hidden" value="" data-ignored />
                    </div>
                </div>
            </div>
        </div>

    </div>

    <hr class="Form-divider-horiz">

    <h4 class="Form-legend u-h5">Your Data Protection</h4>

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="AgreeTerms">Terms &amp; Conditions</label>
            @Html.StyledValidationMessageFor(m => m.AgreeTerms)
            <div class="Form-control">
                <div class="checkboxlist">
                    <div class="checkbox-item">
                        <label for="AgreeTerms" class="Checkbox Checkbox--multiLine">
                            <input type="checkbox" name="AgreeTerms" id="AgreeTerms" value="true"
                                   data-val="true" data-val-required="Please review and agree the Terms &amp; Conditions"
                                   @(Request.Form["AgreeTerms"]?.Contains("true") ?? false ? "checked" : "") />
                            <span class="Checkbox-check"></span>
                            <input name="AgreeTerms" type="hidden" value="false" data-ignored />
                            <span class="Checkbox-content">I agree to the <a href="/terms-conditions" target="_blank">Terms &amp; Conditions</a> and I confirm that I am the business owner or have the business owner's consent to register for this promotion</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="Form-row">

        <div class="Form-field">
            <label class="Form-label" for="AgreePrivacyPolicy">Privacy Policy</label>
            @Html.StyledValidationMessageFor(m => m.AgreePrivacyPolicy)
            <div class="Form-control">
                <div class="checkboxlist">
                    <div class="checkbox-item">
                        <label for="AgreePrivacyPolicy" class="Checkbox Checkbox--multiLine">
                            <input type="checkbox" name="AgreePrivacyPolicy" id="AgreePrivacyPolicy" value="true"
                                   data-val="true" data-val-required="Please review and agree the Privacy Policy"
                                   @(Request.Form["AgreePrivacyPolicy"]?.Contains("true") ?? false ? "checked" : "") />
                            <span class="Checkbox-check"></span>
                            <input name="AgreePrivacyPolicy" type="hidden" value="false" data-ignored />
                            <span class="Checkbox-content">I have read the Brakes Group <a href="https://www.brake.co.uk/about-us/privacy-policy" target="_blank">Privacy Policy</a></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="Form-actions" data-grid="align-center justify-end">
        <button type="submit" class="Header-button Button Button--primary Button--small">Claim</button>
    </div>
}
