﻿@using System.Web.Mvc.Html
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Controllers

@{
  var loginModel = new LoginModel();
  var formAttr = new
  {
    novalidate = "novalidate",
    data_js = "validator",
    @class = "Form"
  };
}

@using (Html.BeginUmbracoForm<UmbLoginController>("HandleLogin", null, formAttr))
{
  @Html.ValidationSummary("loginModel", true)

  <div class="Form-row u-mb0">
    <div class="Form-field">
      <label class="Form-label">Email Address</label>
      @Html.StyledValidationMessageFor(m => loginModel.Username)
      <div class="Form-control">
        <input 
          type="text" 
          name="@Html.NameFor(m => loginModel.Username)" 
          value="@loginModel.Username" 
          class="Input @Html.FieldValidationClassname(m => loginModel.Username)"
          aria-label="Email Address"
          data-val="true"
          data-val-required="Please enter an Email Address"
          data-val-regex="Sorry, that is not a valid email address"
          data-regex="[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+"/>
      </div>
    </div>
    <div class="Form-field">
      <label class="Form-label">Password</label>
      @Html.StyledValidationMessageFor(m => loginModel.Password)
      <div class="Form-control u-mb1">
        <input 
          type="password" 
          name="@Html.NameFor(m => loginModel.Password)" 
          value="@loginModel.Password" 
          class="Input @Html.FieldValidationClassname(m => loginModel.Password)"
          aria-label="Password"
          data-val="true"
          data-val-required="Password cannot be blank"
          data-length="8:"
          data-tooshort-error="^Password must be at least 8 characters" />
      </div>
    </div>
  </div>

  <div class="Form-row">
    <div class="Form-field">
      <p class="u-mb0"><a href="/Reset-Password" data-js="modal-trigger" data-target="reset-password">Forgotten password?</a></p>
      <p><a href="/Register">Not registered?</a></p>
    </div>
    <div class="Form-field u-ml0">
      <div class="Form-control">
        <label for="RememberMe" class="Checkbox">
          <input type="checkbox" name="RememberMe" id="RememberMe" value="true" />
          <span class="Checkbox-check"></span>
          <input name="RememberMe" type="hidden" value="false" />
          <span class="Checkbox-content">Remember me</span>
        </label>
      </div>
    </div>
  </div>

  <div class="Form-actions Form-actions--centered">
    <button type="submit" class="Button Button--primary">Login</button>
  </div>
}