﻿@using BrakesPromotions.Common.Extensions
@inherits UmbracoViewPage<RegisterAccount>
@{

  var formAttr = new
  {
    novalidate = "novalidate",
    data_js = "validator conditions",
    @class = "Form"
  };
}

@using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleRegister", null, formAttr))
{
  <h4 class="Form-heading">Register</h4>

  <div class="Form-row">

    <div class="Form-field">
      <label class="Form-label" for="Claimcode">Claim code</label>
      @Html.StyledValidationMessageFor(m => m.ClaimCode)
      <div class="Form-control">
        <input placeholder="Claim code"
               name="ClaimCode"
               value="@Request.Form["ClaimCode"]"
               class="Input Input--thin @Html.FieldValidationClassname(m => m.ClaimCode)"
               type="text"
               aria-label="Claim code"
               data-val="true"
               data-val-required="Claim code cannot be blank">
      </div>
    </div>

  </div>

  <div class="Form-row">

    <div class="Form-field">
      <label class="Form-label" for="EmailAddress">Email address</label>
      @Html.StyledValidationMessageFor(m => m.EmailAddress)
      <div class="Form-control">
        <input placeholder="Email address"
               name="EmailAddress"
               value="@Request.Form["EmailAddress"]"
               class="Input Input--thin @Html.FieldValidationClassname(m => m.EmailAddress)"
               type="email"
               aria-label="Email address"
               data-val="true"
               data-val-required="Email address cannot be blank"
               data-val-regex="Sorry, that is not a valid email address"
               data-regex="[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+">
      </div>
    </div>

    <div class="Form-field">
      <label class="Form-label" for="VerifiedEmailAddress">Confirm email address</label>
      @Html.StyledValidationMessageFor(m => m.VerifiedEmailAddress)
      <div class="Form-control">
        <input placeholder="Email address"
               name="VerifiedEmailAddress"
               value="@Request.Form["VerifiedEmailAddress"]"
               class="Input Input--thin @Html.FieldValidationClassname(m => m.VerifiedEmailAddress)"
               type="email" aria-label="Confirm email address"
               data-val="true" data-val-required="Please confirm email address"
               data-val-regex="Sorry, that is not a valid email address"
               data-regex="[a-zA-Z0-9_.+-]+@@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+"
               data-match="EmailAddress" data-match-error="Sorry, that email address does not match">
      </div>
    </div>

  </div>

  <div class="Form-row">

    <div class="Form-field">
      <label class="Form-label" for="Password">Password</label>
      @Html.StyledValidationMessageFor(m => m.Password)
      <div class="Form-control">
        <input name="Password"
               class="Input Input--thin @Html.FieldValidationClassname(m => m.Password)"
               type="password"
               aria-label="Password"
               data-val="true"
               data-val-required="Password cannot be blank"
               autocomplete="new-password"
               data-length="8:"
               data-tooshort-error="^Password must be at least 8 characters">
      </div>
    </div>

    <div class="Form-field">
      <label class="Form-label" for="VerifiedPassword">Confirm Password</label>
      @Html.StyledValidationMessageFor(m => m.VerifiedPassword)
      <div class="Form-control">
        <input name="VerifiedPassword"
               class="Input Input--thin @Html.FieldValidationClassname(m => m.VerifiedPassword)"
               type="password"
               aria-label="Password"
               data-val="true"
               data-val-required="Password cannot be blank"
               autocomplete="new-password"
               data-length="8:"
               data-tooshort-error="^Password must be at least 8 characters">
      </div>
    </div>

  </div>

  <div class="Form-row">

    <div class="Form-field">
      <label class="Form-label" for="MobileNumber">Mobile number</label>
      @Html.StyledValidationMessageFor(m => m.MobileNumber)
      <div class="Form-control">
        <input placeholder="Mobile number"
               name="MobileNumber"
               value="@Request.Form["MobileNumber"]"
               class="Input Input--thin @Html.FieldValidationClassname(m => m.MobileNumber)"
               type="tel"
               aria-label="Mobile Number"
               data-val="true"
               data-val-required="Mobile number cannot be blank"
               data-regex="^0\s?7[ 0-9]+"
               data-val-regex="Must be a valid UK mobile number">
      </div>
    </div>

  </div>

  <hr class="Form-divider-horiz">

  <h4 class="Form-legend u-h5">Your Communication Preferences</h4>

  <div class="Form-row">

    @*<div class="Form-field">
        <label class="Form-label" for="SalesRepContact">
          Would you be happy for a Brakes sales representative to contact you?
        </label>
        <div class="Form-control">
          <span class="radiobuttonlist radiobuttonlist--inline" id="SalesRepContact">
            <div class="radio-item">
              <label class="Radio" for="SalesRepContact_0">
                <input type="radio" name="SalesRepContact" id="SalesRepContact_0"
                       value="Yes" class="Radio"
                       data-val="true" data-val-requiredlist="Please select">
                <span class="Radio-check"></span>
                <span class="Radio-content">Yes</span>
              </label>
            </div>
            <div class="radio-item">
              <label class="Radio" for="SalesRepContact_1">
                <input type="radio" name="SalesRepContact"
                       id="SalesRepContact_1"
                       value="No" class="Radio"
                       data-val="true" data-val-requiredlist="Please select">
                <span class="Radio-check"></span>
                <span class="Radio-content">No</span>
              </label>
            </div>
          </span>
        </div>

        <div class="Form-field">
          <label for="SalesRepContactPref" class="Checkbox"><span class="u-srt">Contact preferences</span></label>
          <div class="Form-control u-mt1"
               data-condition="{&quot;actionType&quot;:&quot;show&quot;,&quot;logicType&quot;:&quot;all&quot;}"
               data-rules="[{&quot;field&quot;:&quot;SalesRepContact&quot;,&quot;Operator&quot;:&quot;is&quot;,&quot;value&quot;:&quot;Yes&quot;}]">
            <span class="checkboxlist" id="SalesRepContactPref">
              <div class="checkbox-item">
                <label for="SalesRepContactPref_0" class="Checkbox">
                  <input type="checkbox" name="SalesRepContactPref" id="SalesRepContactPref_0"
                         value="Via Email" data-val="true" data-val-required="Please select">
                  <span class="Checkbox-check"></span>
                  <span class="Checkbox-content">Via Email</span>
                </label>
              </div>
              <div class="checkbox-item">
                <label for="SalesRepContactPref_1" class="Checkbox">
                  <input type="checkbox" name="SalesRepContactPref" id="SalesRepContactPref_1"
                         value="Via Telephone" data-val="true" data-val-required="Please select">
                  <span class="Checkbox-check"></span>
                  <span class="Checkbox-content">Via Telephone</span>
                </label>
              </div>
              <div class="checkbox-item">
                <label for="SalesRepContactPref_2" class="Checkbox">
                  <input type="checkbox" name="SalesRepContactPref" id="SalesRepContactPref_2"
                         value="Via SMS" data-val="true" data-val-required="Please select">
                  <span class="Checkbox-check"></span>
                  <span class="Checkbox-content">Via SMS</span>
                </label>
              </div>
              <input name="SalesRepContactPref" type="hidden" value="false" data-ignored />
            </span>
          </div>
        </div>
      </div>*@


    <div class="Form-field">
      <label class="Form-label" for="OffersContact">
        Would you be happy for Brakes to contact you with the latest offers and news?
      </label>
      @Html.StyledValidationMessageFor(m => m.OffersContact)
      <div class="Form-control">
        <div class="radiobuttonlist radiobuttonlist--inline" id="OffersContact">
          <div class="radio-item">
            <label class="Radio" for="OffersContact_0">
              <input type="radio" name="OffersContact" id="OffersContact_0"
                     value="true" class="Radio" data-val="true" data-val-requiredlist="Please select"
                     @(Request.Form["OffersContact"] == "true" ? "checked" : "")>
              <span class="Radio-check"></span>
              <span class="Radio-content">Yes</span>
            </label>
          </div>
          <div class="radio-item">
            <label class="Radio" for="OffersContact_1">
              <input type="radio" name="OffersContact" id="OffersContact_1"
                     value="false" class="Radio" data-val="true" data-val-requiredlist="Please select"
                     @(Request.Form["OffersContact"] == "false" ? "checked" : "")>
              <span class="Radio-check"></span>
              <span class="Radio-content">No</span>
            </label>
          </div>
        </div>

      </div>

      <div class="Form-field">
        <label for="LatestNewsContactPref" class="Checkbox"><span class="u-srt">Contact preferences</span></label>
        <div class="Form-control u-mt1"
             data-condition="{&quot;actionType&quot;:&quot;show&quot;,&quot;logicType&quot;:&quot;all&quot;}"
             data-rules="[{&quot;field&quot;:&quot;OffersContact&quot;,&quot;Operator&quot;:&quot;is&quot;,&quot;value&quot;:&quot;true&quot;}]">
          <div class="checkboxlist" id="LatestNewsContactPref">
            <div class="checkbox-item">
              <label for="LatestNewsContactPref_0" class="Checkbox">
                <input type="checkbox" name="LatestNewsContactPref"
                       id="LatestNewsContactPref_0" value="Via Email"
                       data-val="true" data-val-required="Please select"
                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via Email") ?? false ? "checked" : "")>
                <span class="Checkbox-check"></span>
                <span class="Checkbox-content">Via Email</span>
              </label>
            </div>
            <div class="checkbox-item">
              <label for="LatestNewsContactPref_1" class="Checkbox">
                <input type="checkbox" name="LatestNewsContactPref"
                       id="LatestNewsContactPref_1" value="Via Phone"
                       data-val="true" data-val-required="Please select"
                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via Phone") ?? false ? "checked" : "")>
                <span class="Checkbox-check"></span>
                <span class="Checkbox-content">Via Telephone</span>
              </label>
            </div>
            <div class="checkbox-item">
              <label for="LatestNewsContactPref_2" class="Checkbox">
                <input type="checkbox" name="LatestNewsContactPref"
                       id="LatestNewsContactPref_2" value="Via SMS"
                       data-val="true" data-val-required="Please select"
                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via SMS") ?? false ? "checked" : "")>
                <span class="Checkbox-check"></span>
                <span class="Checkbox-content">Via SMS</span>
              </label>
            </div>
            <div class="checkbox-item">
              <label for="LatestNewsContactPref_3" class="Checkbox">
                <input type="checkbox" name="LatestNewsContactPref"
                       id="LatestNewsContactPref_3" value="Via Post"
                       data-val="true" data-val-required="Please select"
                       @(Request.Form["LatestNewsContactPref"]?.Contains("Via Post") ?? false ? "checked" : "")>
                <span class="Checkbox-check"></span>
                <span class="Checkbox-content">Via Post</span>
              </label>
            </div>
            <input name="LatestNewsContactPref[]" type="hidden" value="" data-ignored />
          </div>
        </div>
      </div>
    </div>

  </div>

  <hr class="Form-divider-horiz">

  <h4 class="Form-legend u-h5">Your Data Protection</h4>

  <div class="Form-row">

    <div class="Form-field">
      <label class="Form-label" for="AgreeTerms">Terms &amp; Conditions</label>
      @Html.StyledValidationMessageFor(m => m.AgreeTerms)
      <div class="Form-control">
        <div class="checkboxlist">
          <div class="checkbox-item">
            <label for="AgreeTerms" class="Checkbox Checkbox--multiLine">
              <input type="checkbox" name="AgreeTerms" id="AgreeTerms" value="true"
                     data-val="true" data-val-required="Please review and agree the Terms &amp; Conditions"
                     @(Request.Form["AgreeTerms"]?.Contains("true") ?? false ? "checked" : "") />
              <span class="Checkbox-check"></span>
              <input name="AgreeTerms" type="hidden" value="false" data-ignored />
              <span class="Checkbox-content">I agree to the <a href="/terms-conditions" target="_blank">Terms &amp; Conditions</a> and I confirm that I am the business owner or have the business owner's consent to register for this promotion</span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="Form-row">

    <div class="Form-field">
      <label class="Form-label" for="AgreePrivacyPolicy">Privacy Policy</label>
      @Html.StyledValidationMessageFor(m => m.AgreePrivacyPolicy)
      <div class="Form-control">
        <div class="checkboxlist">
          <div class="checkbox-item">
            <label for="AgreePrivacyPolicy" class="Checkbox Checkbox--multiLine">
              <input type="checkbox" name="AgreePrivacyPolicy" id="AgreePrivacyPolicy" value="true"
                     data-val="true" data-val-required="Please review and agree the Privacy Policy"
                     @(Request.Form["AgreePrivacyPolicy"]?.Contains("true") ?? false ? "checked" : "") />
              <span class="Checkbox-check"></span>
              <input name="AgreePrivacyPolicy" type="hidden" value="false" data-ignored />
              <span class="Checkbox-content">I have read the Brakes Group <a href="https://www.brake.co.uk/about-us/privacy-policy" target="_blank">Privacy Policy</a></span>
            </label>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="Form-actions" data-grid="align-center justify-end">
    @Html.HiddenFor(x => x.CampaignGuid)
    <button type="submit" class="Header-button Button Button--primary Button--small">Register</button>
  </div>

}