﻿@inherits UmbracoViewPage<ResetAccount>
@using System.Web.Mvc.Html
@using Umbraco.Web

@{
    var formAttr = new
    {
        novalidate = "novalidate",
        data_js = "validator",
        @class = "Form"
    };
}
@using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleForgottenPassword", null, formAttr))
{
    @Html.ValidationSummary("Model", true)
    <p>An email will be sent to the address specified with a link to reset your password</p>
    <div class="Form-row u-mb0">
        <div class="Form-field">
            <label class="Form-label">Email Address</label>
            @Html.StyledValidationMessageFor(m => m.EmailAddress)
            <div class="Form-control">
                <input type="text"
                       name="@Html.NameFor(m => m.EmailAddress)"
                       value="@Model.EmailAddress"
                       class="Input"
                       aria-label="Username"
                       data-val="true"
                       data-val-required="Please enter Email address" />
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.CampaignGuid)

    <div class="Form-actions Form-actions--centered u-mt1">
        <button type="submit" class="Button Button--primary">Change password</button>
    </div>

}