﻿@inherits UmbracoViewPage<IList<BrakesPromotions.Common.Models.Custom.SwitchAccount>>

  <ul class="AccountList u-list-ui">
    @foreach (var item in Model)
    {
      <li class="AccountList-item">
        <article class="Account">
          <header class="Account-info">
            <h3 class="Account-name u-h5">@item.BusinessName</h3>
            <p class="Account-claimCode u-m0">@item.ClaimCode</p>
          </header>
          <footer class="Account-actions">
            @using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("ChangeAccount", new { id = item.AccountGuid }))
            {
              <button type="submit" class="Button Button--secondary Button--small">Switch Account</button>
            }
          </footer>
        </article>
      </li>
    }
  </ul>