﻿@inherits UmbracoViewPage<ValidateAccount>
@{
  var formAttr = new
  {
    novalidate = "novalidate",
    data_js = "validator"
  };
}

@using (Html.BeginUmbracoForm<BrakesPromotions.Common.Controllers.MembersController>("HandleValidate", null, formAttr))
{
  <h4 class="Form-heading">Verify your account</h4>

  <div class="Form-row">

    <div class="Form-field u-rel">
      <label class="Form-label" for="ValidateCode">Verification code</label>
      @Html.StyledValidationMessageFor(m => m.ValidateCode)
      <div class="Form-control">
        <input 
          placeholder="Verification code" 
          name="ValidateCode" 
          class="Input Input--thin @Html.FieldValidationClassname(m => m.ValidateCode)"
          type="text" 
          aria-label="Verification code"
          data-val="true" 
          data-val-required="Please enter Verification code"/>
      </div>
    </div>

  </div>

  <div class="Form-actions Form-actions--end">
    @Html.HiddenFor(x => x.CampaignGuid)
    @Html.HiddenFor(x => x.AccountGuid)
    @Html.Action("ResendCode", "Members", new { model = Model })
    <button type="submit" class="Button Button--primary">Verify account</button>
  </div>
}