﻿@model Picture

@{
  IHtmlString objectFit = new HtmlString("");
  if (Model.ObjectFit)
  {
    objectFit = Html.Raw("data-object-fit=\"cover\" data-object-position=\"center center\" class=\"u-object-cover\"");
  }
}

@if (Model.Crops.Any())
{
  <picture class="@Model.GetClassName()">
    @foreach (var crop in Model.Crops)
    {
      <source media="(@crop.MediaQuery)" srcset="@Url.GetCropUrl(Model.Image, crop.Alias);" />
    }
    <img src="@Url.GetCropUrl(Model.Image, Model.Crops.First().Alias)" @objectFit alt="@Model.Alt" />
  </picture>
}